<div class="mpost-card">
  <div class="mpost-card-head">
    {% if post.storeIconUrl is defined and post.storeIconUrl != NULL %}
      <picture >
          <source type="image/webp" data-srcset="{{post.storeIconUrl | asWebp}}">
          <source type="image/png" data-srcset="{{post.storeIconUrl}}">
          <img class="lazyload" data-src="{{post.storeIconUrl}}" alt="{{post.storeName}}"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </picture>
    {% endif %}
    <div>
      <div class="mpost-card-head-title">
        <a href="{{path('comercio', {'id': 'LOC' ~ post.idrids, 'comercioNombre': urlize(post.storeName) }) }}" title="{{ post.storeName }}">
          {{post.storeName}}
        </a>
      </div>
      <div class="mpost-card-head-date">{{post.niceDate}}</div>
    </div>
  </div>
  {% if post.type == 'GALLERY' %}
    {% if post.image %}
      <a href="{{path('galeria', {'id': post.idrids, 'idg': post.entityId, 'comercioNombre': urlize(post.storeName)})  }}" title="{{post.title}}">
        <picture >
          <source type="image/webp" data-srcset="{{post.image | asWebp}}">
          <source type="image/png" data-srcset="{{post.image}}">
          <img class="lazyload" data-src="{{post.image}}" alt="{{post.title}}"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </picture>
      </a>
    {% endif %}
    <div style="padding: 10px;">
    
      <h3><a href="{{path('galeria', {'id': post.idrids, 'idg': post.entityId, 'comercioNombre': urlize(post.storeName)})  }}" title="{{post.title}}">{{post.title}}</a></h3>
      <p>{{post.summary}}</p>
    </div>
    {# <div class="mpost-link">
      <a class="button clear" href="{{path('galeria', {'id': post.idrids, 'idg': post.entityId, 'comercioNombre': urlize(post.storeName)})  }}">Ver galería</a>
    </div> #}
  {% elseif post.type == 'VIDEO' %}
    {% if post.image %}
      <a href="{{path('video', {'id': post.idrids, 'idv': post.entityId, 'comercioNombre': urlize(post.storeName)})  }}" title="{{post.title}}">
        <img class="lazyload" data-src="{{post.image}}" alt="{{post.title}}">
      </a>
    {% endif %}
    <div style="padding: 10px;">
      <h3><a href="{{path('video', {'id': post.idrids, 'idv': post.entityId, 'comercioNombre': urlize(post.storeName)})  }}" title="Nuevo video de {{post.storeName}}">Nuevo video de {{post.storeName}}</a></h3>
      <p>{{post.title}}</p>
    </div>
    {# <div class="mpost-link">
      <a class="button clear" href="{{path('video', {'id': post.idrids, 'idv': post.entityId, 'comercioNombre': urlize(post.storeName)})  }}">Ver video</a>
    </div> #}
  {% elseif post.type == 'NEW_STORE' %}
    {% if post.storeImageUrl is defined and post.storeImageUrl != NULL and post.storeImageUrl | length > 0 %}
      <a href="{{path('comercio', {'id': 'LOC' ~ post.idrids, 'comercioNombre': urlize(post.storeName) }) }}" title="{{ post.storeName }}">
        <picture >
          <source type="image/webp" data-srcset="{{post.storeImageUrl | asWebp}}">
          <source type="image/png" data-srcset="{{post.storeImageUrl}}">
          <img class="lazyload" data-src="{{post.storeImageUrl}}" alt="{{post.storeName}} en {{post.zone}}"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </picture>
      </a>
    {% else %}
      <div class="mpost-card-icon">
        <svg viewBox="0 0 512 512"><g><path d="M464,432H432V255.71A28.043,28.043,0,0,0,456,228V152a8,8,0,0,0-8-8H437.39L407.42,70A8.016,8.016,0,0,0,400,65H113a7.99,7.99,0,0,0-7.38,4.92L74.67,144H64a8,8,0,0,0-8,8v76a28.043,28.043,0,0,0,24,27.71V432H16a8,8,0,0,0,0,16H464a8,8,0,0,0,0-16ZM118.33,81H394.61l25.52,63H92.01ZM72,160H440v16H72Zm320,32v36a12.01,12.01,0,0,1-12,12h-8a12.01,12.01,0,0,1-12-12V192Zm-48,0v36a12.01,12.01,0,0,1-12,12h-8a12.01,12.01,0,0,1-12-12V192Zm-48,0v36a12.01,12.01,0,0,1-12,12h-8a12.01,12.01,0,0,1-12-12V192Zm-48,0v36a12.01,12.01,0,0,1-12,12h-8a12.01,12.01,0,0,1-12-12V192Zm-48,0v36a12.01,12.01,0,0,1-12,12h-8a12.01,12.01,0,0,1-12-12V192Zm-48,0v36a12.01,12.01,0,0,1-12,12h-8a12.01,12.01,0,0,1-12-12V192ZM84,240a12.01,12.01,0,0,1-12-12V192h32v36a12.01,12.01,0,0,1-12,12ZM224,432H128V288h96Zm192,0H240V280a8,8,0,0,0-8-8H120a8,8,0,0,0-8,8V432H96V255.71a27.986,27.986,0,0,0,16-8.14A27.9,27.9,0,0,0,132,256h8a27.9,27.9,0,0,0,20-8.43A27.9,27.9,0,0,0,180,256h8a27.9,27.9,0,0,0,20-8.43A27.9,27.9,0,0,0,228,256h8a27.9,27.9,0,0,0,20-8.43A27.9,27.9,0,0,0,276,256h8a27.9,27.9,0,0,0,20-8.43A27.9,27.9,0,0,0,324,256h8a27.9,27.9,0,0,0,20-8.43A27.9,27.9,0,0,0,372,256h8a27.9,27.9,0,0,0,20-8.43,27.986,27.986,0,0,0,16,8.14Zm4-192a12.01,12.01,0,0,1-12-12V192h32v36a12.01,12.01,0,0,1-12,12Z"/><path d="M496,432h-8a8,8,0,0,0,0,16h8a8,8,0,0,0,0-16Z"/><path d="M208,336a8,8,0,0,0-8,8v16a8,8,0,0,0,16,0V344A8,8,0,0,0,208,336Z"/><path d="M392,272H256a8,8,0,0,0-8,8v88a8,8,0,0,0,8,8H392a8,8,0,0,0,8-8V280A8,8,0,0,0,392,272Zm-8,88H264V288H384Z"/></g></svg>
      </div>
    {% endif %}
    <div style="padding: 10px;text-align:center">
      {% if post.zone != null and post.zone | length > 0 %}
        <h3 class="mpost-card-bigsubtitle">Nuevo negocio en {{post.zone}}!</h3>
      {% else %}
      <h3 class="mpost-card-bigsubtitle">Nuevo negocio!</h3>
      {% endif %}
      <p class="mpost-card-bigtitle">{{post.storeName}}</p>
    </div>
  {% elseif post.type == 'NEW_ADDRESS' %}
    <div style="padding: 10px;text-align:center">
      <div class="mpost-card-icon">
        <svg version="1.1" x="0px" y="0px" viewBox="0 0 512.01 512.01" style="enable-background:new 0 0 512.01 512.01;" xml:space="preserve"><g transform="translate(0 -1)"><g><g><path d="M388.89,314.055c-11.435-2.773-22.955,4.373-25.664,15.829c-2.731,11.456,4.373,22.955,15.829,25.664c66.261,15.723,90.283,38.976,90.283,50.795c0,25.493-85.077,64-213.333,64c-128.235,0-213.333-38.507-213.333-64c0-11.819,24.043-35.072,90.261-50.795c11.477-2.709,18.56-14.208,15.829-25.664c-2.709-11.456-14.229-18.603-25.664-15.829C43.717,332.871,0.005,365.639,0.005,406.343c0,70.016,128.811,106.667,256,106.667c127.211,0,256-36.651,256-106.667C512.005,365.639,468.293,332.871,388.89,314.055z"/><path d="M256.015,171.681c11.776,0,21.333-9.557,21.333-21.333s-9.557-21.333-21.333-21.333s-21.333,9.557-21.333,21.333S244.239,171.681,256.015,171.681z"/><path d="M228.239,398.518l8.683,17.365c3.627,7.232,11.008,11.797,19.093,11.797s15.467-4.565,19.093-11.797l18.389-36.779c22.379-44.779,49.984-88.149,76.672-130.091l12.16-19.136c15.061-23.808,23.019-51.307,23.019-79.531c0-42.496-18.197-83.115-49.92-111.445C323.727,10.592,281.082-2.975,238.565,2.017C172.175,9.569,117.349,63.03,108.154,129.121c-5.44,39.168,4.352,78.059,27.541,109.547C171.877,287.691,200.122,342.241,228.239,398.518z M256.015,86.347c35.285,0,64,28.715,64,64c0,35.285-28.715,64-64,64s-64-28.715-64-64C192.015,115.062,220.73,86.347,256.015,86.347z"/></g></g></g></svg>
      </div>
      <h3 class="mpost-card-bigsubtitle">{{post.title}}</h3>
      <p class="mpost-card-title">{{post.summary}}</p>
    </div>
  {% elseif post.type == 'NEW_TEL' %}
    <div style="padding: 10px;text-align:center">
      <div class="mpost-card-icon">
        <svg x="0px" y="0px"  viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;"xml:space="preserve"><g><path d="M401.129,311.475c-1.137-3.426-8.371-8.473-21.697-15.129c-3.61-2.098-8.754-4.949-15.41-8.566c-6.662-3.617-12.709-6.95-18.13-9.996c-5.432-3.045-10.521-5.995-15.276-8.846c-0.76-0.571-3.139-2.234-7.136-5c-4.001-2.758-7.375-4.805-10.14-6.14c-2.759-1.327-5.473-1.995-8.138-1.995c-3.806,0-8.56,2.714-14.268,8.135c-5.708,5.428-10.944,11.324-15.7,17.706c-4.757,6.379-9.802,12.275-15.126,17.7c-5.332,5.427-9.713,8.138-13.135,8.138c-1.718,0-3.86-0.479-6.427-1.424c-2.566-0.951-4.518-1.766-5.858-2.423c-1.328-0.671-3.607-1.999-6.845-4.004c-3.244-1.999-5.048-3.094-5.428-3.285c-26.075-14.469-48.438-31.029-67.093-49.676c-18.649-18.658-35.211-41.019-49.676-67.097c-0.19-0.381-1.287-2.19-3.284-5.424c-2-3.237-3.333-5.518-3.999-6.854c-0.666-1.331-1.475-3.283-2.425-5.852s-1.427-4.709-1.427-6.424c0-3.424,2.713-7.804,8.138-13.134c5.424-5.327,11.326-10.373,17.7-15.128c6.379-4.755,12.275-9.991,17.701-15.699c5.424-5.711,8.136-10.467,8.136-14.273c0-2.663-0.666-5.378-1.997-8.137c-1.332-2.765-3.378-6.139-6.139-10.138c-2.762-3.997-4.427-6.374-4.999-7.139c-2.852-4.755-5.799-9.846-8.848-15.271c-3.049-5.424-6.377-11.47-9.995-18.131c-3.615-6.658-6.468-11.799-8.564-15.415C98.986,9.233,93.943,1.997,90.516,0.859C89.183,0.288,87.183,0,84.521,0c-5.142,0-11.85,0.95-20.129,2.856c-8.282,1.903-14.799,3.899-19.558,5.996c-9.517,3.995-19.604,15.605-30.264,34.826C4.863,61.566,0.01,79.271,0.01,96.78c0,5.135,0.333,10.131,0.999,14.989c0.666,4.853,1.856,10.326,3.571,16.418c1.712,6.09,3.093,10.614,4.137,13.56c1.045,2.948,2.996,8.229,5.852,15.845c2.852,7.614,4.567,12.275,5.138,13.988c6.661,18.654,14.56,35.307,23.695,49.964c15.03,24.362,35.541,49.539,61.521,75.521c25.981,25.98,51.153,46.49,75.517,61.526c14.655,9.134,31.314,17.032,49.965,23.698c1.714,0.568,6.375,2.279,13.986,5.1417.614,2.854,12.897,4.805,15.845,5.852c2.949,1.048,7.474,2.43,13.559,4.145c6.098,1.715,11.566,2.905,16.419,3.576c4.856,0.657,9.853,0.996,14.989,0.996c17.508,0,35.214-4.856,53.105-14.562c19.219-10.656,30.826-20.745,34.823-30.269c2.102-4.754,4.093-11.273,5.996-19.555c1.909-8.278,2.857-14.985,2.857-20.126C401.99,314.814,401.703,312.819,401.129,311.475z"/></g></svg>
      </div>
      <h3 class="mpost-card-bigsubtitle">{{post.title}}</h3>
      <p class="mpost-card-title">{{post.summary}}</p>
    </div>
  {% elseif post.type == 'NEW_HOURS' %}
    <div style="padding: 10px;text-align:center">
      <div class="mpost-card-icon">
        <svg x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><path d="M437.02,74.98C388.667,26.628,324.38,0,256,0S123.333,26.628,74.98,74.98S0,187.62,0,256s26.628,132.667,74.98,181.02S187.62,512,256,512s132.667-26.628,181.02-74.98S512,324.38,512,256S485.372,123.333,437.02,74.98z M425.706,425.706C380.376,471.036,320.106,496,256,496s-124.376-24.964-169.706-70.294C40.964,380.376,16,320.106,16,256S40.964,131.624,86.294,86.294C131.624,40.964,191.894,16,256,16s124.376,24.964,169.706,70.294C471.036,131.624,496,191.894,496,256S471.036,380.376,425.706,425.706z"/><path d="M48,256c0-114.691,93.309-208,208-208c41.368,0,81.326,12.111,115.555,35.024c3.671,2.458,8.64,1.474,11.098-2.198c2.458-3.671,1.474-8.64-2.198-11.098C343.584,45.046,300.548,32,256,32c-59.833,0-116.084,23.3-158.392,65.608C55.3,139.916,32,196.167,32,256c0,55.2,20.254,108.232,57.032,149.328c1.58,1.766,3.768,2.665,5.964,2.665c1.899,0,3.806-0.672,5.332-2.039c3.292-2.947,3.573-8.004,0.626-11.296C66.807,356.5,48,307.257,48,256z"/><path d="M442.273,131.547c-2.458-3.672-7.427-4.656-11.098-2.198c-3.671,2.458-4.656,7.427-2.198,11.098C451.889,174.675,464,214.633,464,256c0,114.691-93.309,208-208,208c-47.583,0-94.096-16.479-130.969-46.401c-3.431-2.784-8.469-2.26-11.253,1.171s-2.26,8.469,1.171,11.253C154.664,462.251,204.757,480,256,480c59.833,0,116.084-23.3,158.392-65.608C456.7,372.084,480,315.833,480,256C480,211.453,466.954,168.417,442.273,131.547z"/><path d="M394.658,100.955c5.379,4.813,10.565,9.964,15.414,15.308c1.579,1.74,3.749,2.624,5.927,2.624c1.917,0,3.842-0.686,5.374-2.076c3.271-2.969,3.517-8.029,0.548-11.301c-5.22-5.752-10.803-11.296-16.593-16.478c-3.292-2.946-8.35-2.666-11.296,0.626S391.365,98.008,394.658,100.955z"/><path d="M256,104c4.418,0,8-3.582,8-8V72c0-4.418-3.582-8-8-8s-8,3.582-8,8v24C248,100.418,251.582,104,256,104z"/><path d="M248,416v24c0,4.418,3.582,8,8,8s8-3.582,8-8v-24c0-4.418-3.582-8-8-8S248,411.582,248,416z"/><path d="M104,256c0-4.418-3.582-8-8-8H72c-4.418,0-8,3.582-8,8s3.582,8,8,8h24C100.418,264,104,260.418,104,256z"/><path d="M408,256c0,4.418,3.582,8,8,8h24c4.418,0,8-3.582,8-8s-3.582-8-8-8h-24C411.582,248,408,251.582,408,256z"/><path d="M182.928,113.436l-12-20.785c-2.209-3.827-7.102-5.136-10.928-2.928c-3.826,2.209-5.137,7.102-2.928,10.928l12,20.785c1.482,2.566,4.171,4.001,6.936,4.001c1.357,0,2.733-0.346,3.993-1.073C183.826,122.155,185.137,117.262,182.928,113.436z"/><path d="M342.928,390.564c-2.209-3.826-7.103-5.135-10.928-2.928c-3.826,2.209-5.137,7.102-2.928,10.928l12,20.785c1.482,2.566,4.171,4.001,6.936,4.001c1.357,0,2.733-0.346,3.993-1.073c3.826-2.209,5.137-7.102,2.928-10.928L342.928,390.564z"/><path d="M96.659,356.001c1.357,0,2.733-0.346,3.993-1.073l20.785-12c3.826-2.209,5.137-7.102,2.928-10.928c-2.209-3.826-7.103-5.135-10.928-2.928l-20.785,12c-3.826,2.209-5.137,7.102-2.928,10.928C91.205,354.566,93.894,356.001,96.659,356.001z"/><path d="M394.571,184.001c1.357,0,2.733-0.346,3.993-1.073l20.785-12c3.826-2.209,5.137-7.102,2.928-10.928s-7.102-5.135-10.928-2.928l-20.785,12c-3.826,2.209-5.137,7.102-2.928,10.928C389.118,182.566,391.807,184.001,394.571,184.001z"/><path d="M352,89.723c-3.826-2.21-8.719-0.899-10.928,2.928l-12,20.785c-2.209,3.826-0.898,8.719,2.928,10.928c1.26,0.728,2.635,1.073,3.993,1.073c2.765,0,5.454-1.435,6.936-4.001l12-20.785C357.137,96.825,355.826,91.932,352,89.723z"/><path d="M180,387.636c-3.826-2.209-8.719-0.898-10.928,2.928l-12,20.785c-2.209,3.826-0.898,8.719,2.928,10.928c1.26,0.728,2.635,1.073,3.993,1.073c2.765,0,5.454-1.435,6.936-4.001l12-20.785C185.137,394.738,183.826,389.845,180,387.636z"/><path d="M390.564,342.928l20.785,12c1.26,0.728,2.635,1.073,3.993,1.073c2.765,0,5.454-1.435,6.936-4.001c2.209-3.826,0.898-8.719-2.928-10.928l-20.785-12c-3.826-2.21-8.719-0.898-10.928,2.928C385.427,335.826,386.738,340.719,390.564,342.928z"/><path d="M121.436,169.072l-20.785-12c-3.826-2.21-8.719-0.898-10.928,2.928c-2.209,3.826-0.898,8.719,2.928,10.928l20.785,12c1.26,0.728,2.635,1.073,3.993,1.073c2.765,0,5.454-1.435,6.936-4.001C126.573,176.174,125.262,171.281,121.436,169.072z"/><path d="M311.692,360.451c1.357,0,2.733-0.346,3.993-1.073c3.826-2.209,5.137-7.102,2.928-10.928l-44.38-76.869C277.824,267.384,280,261.943,280,256c0-10.429-6.689-19.322-16-22.624V128c0-4.418-3.582-8-8-8s-8,3.582-8,8v105.376c-9.311,3.302-16,12.195-16,22.624c0,13.234,10.766,24,24,24c1.497,0,2.961-0.145,4.383-0.408l44.374,76.858C306.239,359.016,308.928,360.451,311.692,360.451z M248,256c0-4.411,3.589-8,8-8s8,3.589,8,8s-3.589,8-8,8S248,260.411,248,256z"/></g></svg>
      </div>
      <h3 class="mpost-card-bigsubtitle">{{post.title}}</h3>
      {% if post.hrsp and post.hrsp | length > 0 %}
        <div class="mpost-hours">
          <table>
            {% for day in post.hrsp %}
              <tr>
                <td>
                  {{day.dayName}}
                </td>
                <td style="text-align:right">
                  {% for hour in day.hours %}
                    {{hour.start}} - {{hour.end}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}
    </div>
  {% elseif post.type == 'COMMENT' %}
    <div class="mpost-card-cmt">
      {% if post.like == 1 %}
        {% if post.userName != null and post.userName | length > 0 %}
          <strong>{{post.userName}}</strong> ha recomendado a 1 <strong>{{post.storeName}}</strong>
        {% else %}
          <h3>Han recomendado a <strong>{{post.storeName}}</strong></h3>
        {% endif %}
      {% elseif post.like == 0 %}
        {% if post.userName != null and post.userName | length > 0 %}
          <h3><strong>{{post.userName}}</strong> ha opinado sobre <strong>{{post.storeName}}</strong></h3>
        {% else %}
          <h3>Han opinado sobre <strong>{{post.storeName}}</strong></h3>
        {% endif %}
      {% elseif post.stars != null %}\
        {% if post.stars > 3 %}
          {% if post.userName != null and post.userName | length > 0 %}
            <h3><strong>{{post.userName}}</strong> ha recomendado a 2 <strong>{{post.storeName}}</strong></h3>
          {% else %}
            <h3>Han recomendado a <strong>{{post.storeName}}</strong></h3>
          {% endif %}
        {% else %}
          {% if post.userName != null and post.userName | length > 0 %}
            <h3><strong>{{post.userName}}</strong> ha opinado sobre <strong>{{post.storeName}}</strong></h3>
          {% else %}
            <h3>Han opinado sobre <strong>{{post.storeName}}</strong></h3>
          {% endif %}
        {% endif %}
      {% else %}
        <h3>{{post.title}}</h3>
      {% endif %}
      <p class="mpost-card-cmttext">{{post.summary}}</p>
    </div>
  {% endif %}

  </div>