<div style="width:{{width}}px;height:{{height}}px;background-color:{{bcolor}};border-radius: 4px;">
  <div style="font-size: {{fontSize}}px;text-align: center;color: #666;padding-top: {{paddingTop}}px;">{{letter}}</div>
</div>