{% extends ('layout.html.twig') %}

{% set isMobile = isMobile() %}
{% set hasDynamicCovers = (data.covers | length > 0) %}

{# ADMANAGER CONFIG #}
{% block admConfigHead %} 
    googletag.cmd.push(function() {
        {% if isMobile %}
        googletag.defineSlot('{{ADS_SLOT_TOP}}', [[320, 100],[300, 100],[320, 50]], 'sas_27839').addService(googletag.pubads());
        googletag.defineSlot('{{ADS_SLOT_MIDDLE}}', [[320, 100],[300, 100],[320, 50]], 'sas_28427').addService(googletag.pubads());
        {% else %}
        googletag.defineSlot('{{ADS_SLOT_TOP}}', [[728,90],[970, 90]], 'sas_27839').addService(googletag.pubads());
        googletag.defineSlot('{{ADS_SLOT_MIDDLE}}', [[728,90],[970, 90]], 'sas_28427').addService(googletag.pubads());
        {% endif %}
        googletag.pubads().setTargeting('Channel', 'web');
        googletag.pubads().setTargeting('zona', '{{ lastzone }}');
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
{% endblock admConfigHead %}
{% block admConfigBody %} 
    <script>
        {% if isMobile %}
            googletag.cmd.push(function() { 
                googletag.display('sas_27839'); 
                googletag.display('sas_28427'); 
            });
        {% else %}
            googletag.cmd.push(function() { 
                googletag.display('sas_27839'); 
                googletag.display('sas_28427'); 
            });
        {% endif %}
    </script>
{% endblock admConfigBody %} 


{% block custom_stylesheets %}
    {% if IS_PRODUCTION  %} 
        <style>
            {{ source( '_inlinecss/'~BRANDCODE~'/c-h'~filesSignature~'.css') }}
        </style>
    {% endif %}
{% endblock custom_stylesheets %}

{% block javascripts %}
  {# JAVASCRIPT - START #}
  {# {% include 'layout/jsloader.html.twig' with {'v':1} %} #}
  {# JAVASCRIPT - END #}
  {# JAVASCRIPT 2 TEST - START #}
  {% if not IS_PRODUCTION %} 
    <script src="{{ app.request.basepath }}/js/vendors/tarekautocomplete/autoComplete.min.js"></script>
    <script src="{{ app.request.basepath }}/js/vendors/storage/js.storage.min.js"></script>
    <script src="{{ app.request.basepath }}/js/vendors/lazysizes/lazysizes.min.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/logger.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/utils.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/webpush.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/worker.service.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/reveal.js"></script>
    <script src="{{ app.request.basepath }}/js2/components/autocomplete.component.js"></script>
    <script src="{{ app.request.basepath }}/js2/config.js"></script>
    <script src="{{ app.request.basepath }}/js2/app.js"></script>
    <script src="{{ app.request.basepath }}/js2/pages/home.js"></script>
  {% endif %}
  {% include 'layout/jsloader.html.twig' with {'partName':'h', 'v':2} %}
  {# JAVASCRIPT 2 TEST - END #}
  {{ parent() }}
{% endblock javascripts %}

{% block pageTitle %}{{ parent() }}{% endblock pageTitle %}

{% block metas %}
    {{ parent() }}
    <link rel="canonical" href="https:{{ url('home', {}, true) }}"/>
    <link rel="preconnect" href="https://www.tingelmar.com/" />
    <link rel="dns-prefetch" href="https://www.tingelmar.com/" />
    <link rel="preconnect" href="https://static.tingelmar.com/" />
    <link rel="dns-prefetch" href="https://static.tingelmar.com/" />

    {% if (hasDynamicCovers) %}
      {% if isMobile %}
        <link rel="preload" as="image" href="{{data.covers[0].mobile}}" />
      {% else %}
        <link rel="preload" as="image" href="{{data.covers[0].desktop}}" />
      {% endif %}
    {% else %}
      <link rel="preload" as="image" href="{{ app.request.basepath }}/img/home/default-cover-3m.webp" />
      <link rel="preload" as="image" href="{{ app.request.basepath }}/img/home/default-cover-3m.jpg" />
    {% endif %}
{% endblock metas %}


{% block content %}

<div class="home">

  <div style="background-color: #FFFFFF;">
    {# HOME HEADER #}
    <div class="homehead">
      <div>
        <a href="{{ path('home') }}" title="Inicio" class="homeheadlogo">
          {% if COUNTRY == 'uy' %}
            <picture>
              <source type="image/webp" srcset="{{ app.request.basepath }}/img/logo_head5.webp?{{ assetVersion }}">
              <source type="image/jpeg" srcset="{{ app.request.basepath }}/img/logo_head5.png?{{ assetVersion }}">
              <img style="width:117px;height:37px"
                decoding="async" src="{{ app.request.basepath }}/img/logo_head5.png?{{ assetVersion }}" alt="1122">
            </picture>
          {% elseif COUNTRY == 'py' %}
            <picture>
              <source type="image/webp" srcset="{{ app.request.basepath }}/img/logobi_head.webp?{{ assetVersion }}">
              <source type="image/jpeg" srcset="{{ app.request.basepath }}/img/logobi_head.png?{{ assetVersion }}">
              <img style="width:117px;height:25px" decode="async" src="{{ app.request.basepath }}/img/logobi_head.png?{{ assetVersion }}" alt="BuscoInfo">
            </picture>
          {% endif %}
        </a>
        <div class="homeheadbtns">
          {# {% if COUNTRY == 'uy' %}
            <a href="https://empresas.1122.com.uy/" style="font-weight: 500;">Agregar mi negocio</a>
          {% else %}
            <a href="https://empresas.buscoinfo.com.py/" style="font-weight: 500;">Agregar mi negocio</a>
          {% endif %} #}
          <a href="/login?retUrl=/" style="color: #666;">Iniciar sesión</a>
        </div>
      </div>
    </div>

    {# COVER #}
    <div class="homecover">
      {% if not hasDynamicCovers %}
          {% if isMobile %}
            <picture >
              <source type="image/webp" srcset="{{ app.request.basepath }}/img/home/default-cover-3m.webp">
              <source type="image/jpg" srcset="{{ app.request.basepath }}/img/home/default-cover-3m.jpg">
              <img decoding="async" src="{{ app.request.basepath }}/img/home/default-cover-3m.jpg" 
                  alt="{{BRAND}}" title="{{BRAND}}"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          {% else %}
            <picture >
                <source type="image/webp" srcset="{{ app.request.basepath }}/img/home/default-cover-3.webp">
                <source type="image/jpg" srcset="{{ app.request.basepath }}/img/home/default-cover-3.jpg">
                <img decoding="async" src="{{ app.request.basepath }}/img/home/default-cover-3.jpg" 
                    alt="{{BRAND}}" title="{{BRAND}}"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          {% endif %}
      {% else %}
          {% if data.covers[0].actionUrl | length > 0 %}
              <a href="{{data.covers[0].actionUrl}}">
                  {% if isMobile %}
                      <picture>
                          <source srcset="{{data.covers[0].mobile | asWebp }}" type="image/webp"/>
                          <source srcset="{{data.covers[0].mobile}}" type="image/png"/>
                          <img decoding="async" class="cover-img" src="{{data.covers[0].mobile}}" 
                              alt="{{data.covers[0].title}} en {{BRAND}}">
                      </picture>
                  {% else %}
                      <picture>
                          <source srcset="{{data.covers[0].desktop | asWebp }}" type="image/webp"/>
                          <source srcset="{{data.covers[0].desktop}}" type="image/png"/>
                          <img decoding="async" class="cover-img" src="{{data.covers[0].desktop}}"
                              alt="{{data.covers[0].title}} en {{BRAND}}">
                      </picture>
                  {% endif %}
              </a>
          {% else %}
              {% if isMobile %}
                  <picture>
                      <source srcset="{{data.covers[0].mobile | asWebp }}" type="image/webp"/>
                      <source srcset="{{data.covers[0].mobile}}" type="image/png"/>
                      <img decoding="async" class="cover-img" src="{{data.covers[0].mobile}}" 
                          alt="{{data.covers[0].title}} en {{BRAND}}">
                  </picture>
              {% else %}
                  <picture>
                      <source srcset="{{data.covers[0].desktop | asWebp }}" type="image/webp"/>
                      <source srcset="{{data.covers[0].desktop}}" type="image/png"/>
                      <img decoding="async" class="cdata-over-img" src="{{data.covers[0].desktop}}"
                          alt="{{data.covers[0].title}} en {{BRAND}}">
                  </picture>
              {% endif %}
          {% endif %}
      {% endif %}
    </div>

    {# SEARCHBOX #}
    <div class="row " style="padding: 30px 0px;background-color: white;">
      <div class="large-12 medium-12 small-12">
        <h1 class="section-header" style="margin-bottom: 25px;">
          Encontrá los mejores lugares y profesionales de tu zona
        </h1>
      </div>
      <div class="large-12 medium-12 small-12" style="padding: 10px;">
        {% include 'components/search2.html.twig' with {'showAboveButtons':false} %}
      </div>
    </div>

    {# MAIN CATEGORIES #}
    <div class="row " style="margin-top:20px;padding: 10px 0px 20px 0px;">
      <div class="large-12 medium-12 small-12">
        <h2 class="section-header" style="margin-bottom: 5px;">
          Buscá por categorías
        </h2>
      </div>
      <div class="large-12 medium-12 small-12">
        <div class="homecategs">
          <div class="categ" data-open="categsFood">
            <svg x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve"><g><g><path d="M339.904,161.776l-5.136-16.904c-6.524-19.202-27.379-29.479-46.581-22.955c-10.802,3.67-19.285,12.153-22.955,22.955l-5.136,16.904c-4.322,14.256-5.229,29.329-2.648,44c2.354,12.352,10.196,22.964,21.312,28.84L273.008,363.2c-0.77,7.177,1.558,14.342,6.4,19.696c10.413,11.39,28.089,12.182,39.479,1.769c0.616-0.563,1.206-1.153,1.769-1.769c4.734-5.202,7.058-12.157,6.4-19.16L321.272,234.6c11.101-5.879,18.93-16.484,21.28-28.824C345.133,191.105,344.226,176.032,339.904,161.776z M326.792,202.992c-1.732,8.874-8.056,16.155-16.6,19.112c-3.243,1.219-5.332,4.387-5.176,7.848L311.096,365c0.28,2.649-0.594,5.29-2.4,7.248c-4.817,4.769-12.575,4.769-17.392,0c-1.896-2.116-2.757-4.964-2.352-7.776l6.032-134.52c0.156-3.461-1.933-6.629-5.176-7.848c-8.544-2.957-14.868-10.238-16.6-19.112c-2.14-12.18-1.386-24.693,2.2-36.528l5.136-16.912c3.974-10.745,15.906-16.234,26.652-12.26c5.681,2.101,10.159,6.58,12.26,12.26l5.136,16.912C328.174,178.3,328.928,190.812,326.792,202.992z"/></g></g><g><g><path d="M216,120c-4.418,0-8,3.582-8,8v68.688l-21.656,21.656c-1.602,1.596-2.454,3.797-2.344,6.056l7,140c0.167,3.019-0.929,5.972-3.024,8.152c-4.379,4.418-11.511,4.45-15.93,0.07c-0.024-0.023-0.047-0.047-0.07-0.07c-2.096-2.18-3.191-5.133-3.024-8.152l7.048-140c0.112-2.258-0.737-4.458-2.336-6.056L152,196.688V128c0-4.418-3.582-8-8-8s-8,3.582-8,8v72c0,2.122,0.844,4.156,2.344,5.656l21.488,21.496l-6.824,136.472c-0.726,14.907,10.77,27.581,25.677,28.307c14.907,0.726,27.581-10.77,28.307-25.677c0.043-0.876,0.043-1.753,0-2.629l-6.824-136.472l21.488-21.496c1.5-1.5,2.344-3.534,2.344-5.656v-72C224,123.582,220.418,120,216,120z"/></g></g><g><g><path d="M168,120c-4.418,0-8,3.582-8,8v64c0,4.418,3.582,8,8,8s8-3.582,8-8v-64C176,123.582,172.418,120,168,120z"/></g></g><g><g><path d="M192,120c-4.418,0-8,3.582-8,8v64c0,4.418,3.582,8,8,8s8-3.582,8-8v-64C200,123.582,196.418,120,192,120z"/></g></g><g><g><path d="M240,0C107.452,0,0,107.452,0,240s107.452,240,240,240s240-107.452,240-240C479.85,107.514,372.486,0.15,240,0z M240,464C116.288,464,16,363.712,16,240S116.288,16,240,16s224,100.288,224,224C463.859,363.653,363.653,463.859,240,464z"/></g></g><g><g><path d="M265.969,390.172c-0.429-4.397-4.342-7.614-8.74-7.185c-0.103,0.01-0.206,0.022-0.309,0.036l0.032-0.008c-11.263,1.308-22.641,1.308-33.904,0c-4.39-0.515-8.365,2.626-8.88,7.016c-0.515,4.39,2.626,8.365,7.016,8.88c12.491,1.459,25.109,1.459,37.6,0C263.181,398.483,266.398,394.57,265.969,390.172z"/></g></g><g><g><path d="M362.4,136.912c-2.839-3.385-7.885-3.828-11.27-0.988c-0.011,0.009-0.022,0.019-0.034,0.028c-3.377,2.848-3.807,7.894-0.96,11.272c48.235,57.26,44.545,141.929-8.488,194.776c-3.13,3.119-3.139,8.186-0.02,11.316c3.119,3.13,8.186,3.139,11.316,0.02C411.881,294.623,415.991,200.541,362.4,136.912z"/></g></g><g><g><g><path d="M186.392,105.744c-0.005,0-0.01-0.001-0.015-0.001c-0.008,0-0.016,0.001-0.025,0.001H186.392z"/><path d="M277.736,84.472c-31.265-7.493-64.055-5.479-94.168,5.784c-4.136,1.555-6.227,6.169-4.672,10.304c1.172,3.117,4.152,5.18,7.481,5.183c0.957-0.005,1.905-0.18,2.799-0.519c27.118-10.141,56.646-11.952,84.8-5.2c4.295,1.038,8.618-1.601,9.656-5.896C284.67,89.833,282.031,85.51,277.736,84.472z"/></g></g></g><g><g><path d="M137.992,341.6C111.023,314.677,95.908,278.108,96,240c-0.079-30.446,9.565-60.122,27.528-84.704c2.655-3.532,1.944-8.547-1.588-11.202s-8.547-1.944-11.202,1.588c-0.047,0.063-0.093,0.126-0.138,0.19c-46.253,63.588-39.447,151.359,16.056,207.056c3.128,3.13,8.202,3.132,11.332,0.004C141.118,349.804,141.12,344.73,137.992,341.6z"/></g></g></svg>
            Comida
          </div>
          <div class="categ" data-open="categsBeauty">
            <svg height="511pt" viewBox="0 -9 511.997 511" width="511pt"><path d="m243.949219 272.550781h12.210937c4.144532 0 7.5-3.355469 7.5-7.5s-3.355468-7.5-7.5-7.5h-10.398437v-18.191406c0-4.144531-3.359375-7.5-7.5-7.5-4.144531 0-7.5 3.355469-7.5 7.5v20.066406c0 7.238281 5.917969 13.125 13.1875 13.125zm0 0"/><path d="m217.179688 216.253906c-2.917969-2.933594-7.667969-2.949218-10.605469-.03125-9.882813 9.820313-25.960938 9.820313-35.839844 0-2.9375-2.917968-7.6875-2.902344-10.605469.03125-2.921875 2.941406-2.90625 7.6875.03125 10.609375 7.855469 7.808594 18.171875 11.710938 28.492188 11.710938 10.320312 0 20.640625-3.90625 28.496094-11.710938 2.9375-2.921875 2.953124-7.667969.03125-10.609375zm0 0"/><path d="m305.769531 238.574219c10.316407 0 20.640625-3.902344 28.496094-11.710938 2.9375-2.921875 2.949219-7.667969.03125-10.605469s-7.667969-2.953124-10.605469-.035156c-9.882812 9.824219-25.960937 9.824219-35.84375 0-2.9375-2.917968-7.6875-2.902344-10.609375.035156-2.917969 2.9375-2.902343 7.683594.035157 10.605469 7.855468 7.808594 18.171874 11.710938 28.496093 11.710938zm0 0"/><path d="m207.480469 289.214844c-2.921875 2.9375-2.90625 7.6875.03125 10.605468 10.878906 10.8125 25.175781 16.214844 39.503906 16.214844 14.429687 0 28.882813-5.476562 39.898437-16.421875 2.9375-2.921875 2.949219-7.671875.03125-10.609375-2.917968-2.9375-7.667968-2.949218-10.605468-.03125-16.121094 16.023438-42.253906 16.117188-58.253906.210938-2.9375-2.921875-7.6875-2.90625-10.605469.03125zm0 0"/><path d="m415.386719 171.382812c12.859375 5.109376 15.792969 8.039063 20.898437 20.894532 1.585938 3.996094 5.386719 6.578125 9.683594 6.578125s8.09375-2.582031 9.679688-6.574219c5.113281-12.859375 8.042968-15.789062 20.898437-20.898438 3.996094-1.585937 6.574219-5.386718 6.574219-9.683593s-2.578125-8.097657-6.570313-9.683594c-12.859375-5.109375-15.789062-8.039063-20.902343-20.910156-1.589844-3.984375-5.390626-6.558594-9.679688-6.558594-4.292969 0-8.09375 2.574219-9.679688 6.566406-5.109374 12.863281-8.042968 15.792969-20.898437 20.902344-3.992187 1.585937-6.574219 5.386719-6.574219 9.683594 0 4.300781 2.582032 8.097656 6.570313 9.683593zm30.582031-25.417968c3.945312 7.25 8.484375 11.789062 15.738281 15.734375-7.253906 3.945312-11.792969 8.484375-15.738281 15.734375-3.945312-7.25-8.480469-11.785156-15.734375-15.734375 7.253906-3.945313 11.789063-8.484375 15.734375-15.734375zm0 0"/><path d="m31.441406 171.683594c12.859375 5.113281 15.792969 8.042968 20.898438 20.898437 1.582031 3.996094 5.382812 6.574219 9.683594 6.574219 4.292968 0 8.09375-2.574219 9.679687-6.566406 5.109375-12.863282 8.039063-15.792969 20.902344-20.90625 3.992187-1.585938 6.570312-5.382813 6.570312-9.679688s-2.578125-8.097656-6.570312-9.679687c-12.863281-5.113281-15.792969-8.042969-20.902344-20.90625-1.585937-3.992188-5.386719-6.570313-9.679687-6.570313-4.300782 0-8.101563 2.582032-9.679688 6.570313-5.109375 12.863281-8.042969 15.792969-20.90625 20.90625-3.988281 1.585937-6.566406 5.386719-6.566406 9.679687 0 4.292969 2.578125 8.09375 6.570312 9.679688zm30.582032-25.414063c3.945312 7.25 8.484374 11.789063 15.734374 15.734375-7.25 3.945313-11.789062 8.484375-15.734374 15.734375-3.945313-7.25-8.484376-11.789062-15.734376-15.734375 7.25-3.945312 11.789063-8.484375 15.734376-15.734375zm0 0"/><path d="m79.589844 57.347656c10.046875 3.992188 12.160156 6.105469 16.152344 16.152344 1.503906 3.78125 5.101562 6.226562 9.171874 6.226562 4.066407 0 7.664063-2.441406 9.164063-6.222656 3.996094-10.050781 6.109375-12.164062 16.15625-16.15625 3.78125-1.5 6.222656-5.097656 6.222656-9.167968 0-4.0625-2.4375-7.660157-6.222656-9.167969-10.046875-3.996094-12.160156-6.109375-16.152344-16.152344-1.503906-3.78125-5.101562-6.226563-9.167969-6.226563-4.070312 0-7.667968 2.441407-9.167968 6.222657-3.992188 10.046875-6.109375 12.160156-16.167969 16.160156-3.773437 1.503906-6.210937 5.101563-6.210937 9.164063 0 4.070312 2.445312 7.667968 6.222656 9.167968zm25.320312-19.082031c2.632813 4.242187 5.675782 7.285156 9.914063 9.914063-4.238281 2.628906-7.28125 5.671874-9.914063 9.910156-2.628906-4.238282-5.667968-7.28125-9.910156-9.910156 4.242188-2.632813 7.28125-5.671876 9.910156-9.914063zm0 0"/><path d="m508.179688 435.640625-4.890626-4.859375c-2.9375-2.917969-7.6875-2.90625-10.605468.03125-2.921875 2.9375-2.90625 7.6875.03125 10.605469l3.425781 3.40625-33.59375 33.394531-33.730469-33.527344c-1.898437-1.890625-4.664062-2.617187-7.253906-1.917968-3.460938.941406-7.035156 1.421874-10.625 1.421874-10.648438 0-20.660156-4.117187-28.179688-11.59375l-71.933593-71.507812c-.578125-.574219-.882813-1.304688-.882813-2.109375s.304688-1.535156.882813-2.109375c1.179687-1.171875 3.195312-1.171875 4.367187-.003906l40.769532 40.527344c2.925781 2.90625 7.648437 2.90625 10.574218-.003907l6.109375-6.078125c1.417969-1.40625 2.210938-3.320312 2.210938-5.316406s-.792969-3.910156-2.210938-5.320312l-54.347656-54.023438c-.578125-.578125-.886719-1.308594-.886719-2.113281 0-.804688.308594-1.535157.882813-2.109375 1.179687-1.171875 3.191406-1.175782 4.371093.003906l54.355469 54.023438c2.921875 2.910156 7.648438 2.90625 10.574219 0l6.113281-6.078126c1.414063-1.40625 2.210938-3.324218 2.210938-5.316406 0-2-.796875-3.914062-2.210938-5.320312l-54.351562-54.027344c-.578125-.574219-.882813-1.304688-.882813-2.109375s.304688-1.535156.882813-2.109375c1.179687-1.175781 3.1875-1.171875 4.371093 0l54.351563 54.027344c2.925781 2.90625 7.648437 2.910156 10.574219 0l6.113281-6.078125c1.417969-1.40625 2.214844-3.320313 2.214844-5.320313 0-1.996094-.796875-3.910156-2.210938-5.316406l-40.765625-40.519531c-.578125-.574219-.882812-1.304688-.882812-2.113281 0-.804688.308594-1.535157.882812-2.105469 1.179688-1.175781 3.191406-1.175781 4.375 0l52.269532 51.960937c2.148437 2.136719 5.371093 2.769532 8.167968 1.605469s4.617188-3.894531 4.617188-6.925781v-18.761719c.003906-3.148437 2.601562-5.714844 5.796875-5.714844 3.191406 0 5.792969 2.5625 5.792969 5.714844v47.054687c0 1.390626.382812 2.75 1.113281 3.933594 5.695312 9.253906 7.296875 20.59375 4.394531 31.113282-.71875 2.609374.023438 5.402343 1.945312 7.3125l5.234376 5.203124c2.9375 2.921876 7.683593 2.90625 10.605468-.03125 2.917969-2.9375 2.90625-7.6875-.03125-10.605468l-2.277344-2.265625c2.355469-12.519531.246094-25.578125-5.984374-36.695313v-45.019531c0-11.421875-9.328126-20.714844-20.796876-20.714844-11.460937.003907-20.789062 9.292969-20.792968 20.714844v.730469l-23.929688-23.789063c.410156-2.613281.628906-5.285156.628906-8.011719 0-9.015624-2.308593-17.5-6.371093-24.90625 2.519531-4.160156 3.976562-9.019531 3.976562-14.214843v-24.527344c0-10.710937-6.175781-20.019531-15.191406-24.644531v-29.261719c0-36.691406-14.414063-67.753906-41.6875-89.832031-6.832031-5.53125-14.398437-10.382813-22.558594-14.523438-3.84375-38.390625-36.503906-68.472656-76.09375-68.472656-39.59375 0-72.25 30.082031-76.097656 68.472656-8.160156 4.140625-15.726563 8.992188-22.554687 14.523438-27.273438 22.078125-41.691407 53.140625-41.691407 89.832031v29.261719c-9.011719 4.628906-15.1875 13.9375-15.1875 24.644531v24.527344c0 7.847656 3.324219 14.929687 8.636719 19.984375l-2.628906 39.863281c-2.484375.445313-4.769532 1.617187-6.585938 3.425781l-10.027344 9.96875c-2.371093 2.355469-3.675781 5.496094-3.675781 8.84375 0 2.957032 1.023438 5.75 2.894531 7.988282l-75.476562 83.011718c-3.105469 3.160156-4.8125 7.335938-4.8125 11.773438 0 4.507812 1.765625 8.746094 4.96875 11.929687 3.1875 3.171875 7.429688 4.917969 11.933594 4.917969 4.4375 0 8.609375-1.691406 11.785156-4.769531l83.566406-75.082031c2.257813 1.914062 5.089844 2.96875 8.09375 2.96875 3.339844 0 6.476563-1.292969 8.832032-3.636719l10.03125-9.96875c1.820312-1.8125 3.003906-4.089844 3.460937-6.5625l43.363281-2.828125c1.25-.082032 2.449219-.34375 3.578125-.75 6.421875 2.980468 13.191407 5.328125 20.230469 6.992187v13.933594h-49.96875c-44.855469 0-81.347656 36.296875-81.347656 80.910156v26.644531c0 7.015626 5.710937 12.726563 12.730468 12.726563h311.898438c7.023438 0 12.734375-5.710937 12.734375-12.726563v-22.355468c1.769531-.15625 3.535156-.394532 5.28125-.722656l32.230469 32.035156c2.445312 2.429687 5.695312 3.769531 9.144531 3.769531 3.453125 0 6.699219-1.339844 9.144531-3.769531l36.484375-36.269532c2.429688-2.414062 3.820313-5.761718 3.820313-9.183593.003906-3.417969-1.390625-6.769531-3.816406-9.183594zm-223.601563-75.804687c3.578125-.839844 7.085937-1.863282 10.511719-3.058594-.085938.726562-.148438 1.460937-.148438 2.207031 0 4.816406 1.886719 9.34375 5.308594 12.75l2.046875 2.03125h-17.71875zm104.375-76.40625c-3.410156-3.390626-7.941406-5.257813-12.761719-5.257813-4.816406 0-9.347656 1.867187-12.761718 5.261719-3.074219 3.058594-4.90625 7.019531-5.246094 11.28125l-3.882813-3.855469c-3.410156-3.394531-7.941406-5.261719-12.757812-5.261719-4.816407 0-9.347657 1.871094-12.761719 5.261719-3.421875 3.402344-5.304688 7.929687-5.304688 12.75 0 1.089844.097657 2.167969.285157 3.222656-1.070313-.195312-2.167969-.292969-3.28125-.292969-.570313 0-1.136719.027344-1.699219.082032-2.261719-4.78125-3.523438-10.117188-3.523438-15.738282 0-20.5 16.792969-37.171874 37.4375-37.171874 18.257813 0 33.496094 13.042968 36.777344 30.238281zm-1.210937-31.671876c0 .113282-.011719.226563-.011719.339844-6.15625-5.507812-13.617188-9.59375-21.863281-11.722656v-25.910156h8.765624c7.230469 0 13.109376 5.726562 13.109376 12.765625zm-140.53125-236.261718c28.808593 0 53.050781 19.789062 59.679687 46.402344-18.109375-6.535157-38.367187-9.984376-59.679687-9.984376s-41.570313 3.449219-59.683594 9.984376c6.632812-26.613282 30.875-46.402344 59.683594-46.402344zm-140.53125 211.734375c0-7.039063 5.882812-12.765625 13.109374-12.765625h8.765626v39.78125c-6.035157.144531-12.132813.976562-18.15625 2.488281-.796876.199219-1.558594.476563-2.28125.808594-.914063-1.738281-1.4375-3.699219-1.4375-5.785157zm-88.140626 210.417969c-.09375.085937-.183593.171874-.273437.261718-.464844.460938-.996094.558594-1.363281.558594-.363282 0-.894532-.097656-1.359375-.558594-.449219-.441406-.542969-.945312-.542969-1.289062s.09375-.847656.542969-1.292969c.089843-.085937.175781-.179687.261719-.273437l75.101562-82.59375 10.660156 10.59375zm101.808594-77.070313-26.894531-26.734375 6.480469-6.441406 26.894531 26.734375zm63.3125-21.867187-47.925781 3.125-.757813-.753907 26.867188-15.875c3.566406-2.105469 4.75-6.703125 2.640625-10.269531-2.105469-3.566406-6.703125-4.75-10.269531-2.644531l-30.082032 17.773437 17.835938-29.828125c2.125-3.558593.96875-8.160156-2.589844-10.289062-3.554687-2.125-8.15625-.964844-10.285156 2.589843l-16.011719 26.78125-.816406-.816406 3.136719-47.546875c5.023437-1.15625 10.082031-1.742187 15.058594-1.742187 15.292968 0 29.261718 5.519531 39.339843 15.535156 13.492188 13.410156 18.625 33.496094 13.859375 53.960938zm-3.285156-64.597657c-9.917969-9.859375-22.691406-16.300781-36.820312-18.761719v-69.554687h29.445312c4.144531 0 7.5-3.355469 7.5-7.5 0-4.140625-3.355469-7.5-7.5-7.5h-30.773438c-7.539062 0-13.671874 6.117187-13.671874 13.636719v15.03125h-6.6875v-26.140625c0-32.007813 12.492187-59.039063 36.128906-78.175781 22.492187-18.207032 54.175781-28.238282 89.214844-28.238282 35.039062 0 66.722656 10.03125 89.214843 28.238282 23.632813 19.136718 36.125 46.167968 36.125 78.175781v26.140625h-6.683593v-15.03125c0-7.519532-6.132813-13.636719-13.671876-13.636719h-32.175781c-13.453125 0-26.277343-7.09375-33.460937-18.503906-2.511719-4.007813-6.839844-6.394531-11.582032-6.394531-4.738281 0-9.070312 2.386718-11.582031 6.386718-7.183593 11.417969-20.003906 18.515625-33.460937 18.515625h-21.933594c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.140625 3.359375 7.5 7.5 7.5h21.933594c17.886718 0 34.957031-9.078125 45.042968-23.828125 10.085938 14.746094 27.15625 23.828125 45.042969 23.828125h30.847657v52.953125c-28.070313.96875-50.609376 23.972656-50.609376 52.128906 0 8.34375 1.992188 16.230469 5.511719 23.234376-2.167969 3.023437-3.355469 6.628906-3.355469 10.425781 0 3.9375 1.28125 7.671875 3.613282 10.769531-13.464844 7.847656-29.136719 12.359375-45.863282 12.359375h-25.898437c-12.644531 0-24.6875-2.582031-35.628906-7.226563 5.289062-25-1.414063-49.585937-18.261719-66.332031zm29.867188 114.652344c8.054687 0 14.601562-6.53125 14.601562-14.558594v-11.957031c3.105469.273438 6.246094.421875 9.421875.421875h25.898437c3.171876 0 6.3125-.144531 9.414063-.421875v11.957031c0 8.027344 6.550781 14.558594 14.605469 14.558594h1.777344l-38.75 59.328125-38.75-59.328125zm-116.714844 90.28125v-24.371094c0-36.34375 29.761718-65.910156 66.347656-65.910156h.808594l58.964844 90.28125zm181.242187 0 16.769531-25.675781c2.265626-3.46875 1.289063-8.113282-2.175781-10.378906-3.46875-2.265626-8.117187-1.289063-10.382812 2.175781l-17.117188 26.210937c-2.65625 4.070313-6.890625 6.84375-11.675781 7.667969h-5.957031c-4.78125-.824219-9.015625-3.597656-11.671875-7.667969l-53.960938-82.613281h11.945313l50.386719 77.148437c1.386718 2.117188 3.746093 3.394532 6.28125 3.394532 2.53125 0 4.894531-1.277344 6.277343-3.394532l50.386719-77.148437h11.945312l-17.898437 27.402344c-2.265625 3.46875-1.289063 8.117187 2.179687 10.382812 3.464844 2.265625 8.113282 1.289063 10.378907-2.179687l16.820312-25.75 44.882813 44.617187c7.941406 7.894531 17.894531 13.054688 28.707031 15.035157v20.773437zm0 0"/></svg>
            Salud y Belleza
          </div>
          {% if isMobile %}
            <div class="breakline"></div>
          {% endif %}
          <div class="categ" data-open="categsHome">
            <svg x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M438.973,411.718c-14.598,0-26.475,11.876-26.475,26.475c0,14.598,11.876,26.474,26.475,26.474c14.598,0,26.474-11.876,26.474-26.474C465.447,423.595,453.571,411.718,438.973,411.718z M438.972,448.977c-5.946,0-10.784-4.838-10.784-10.784c0-5.946,4.838-10.784,10.784-10.784c5.946,0,10.784,4.838,10.784,10.784S444.918,448.977,438.972,448.977z"/></g></g><g><g><path d="M510.303,436.82c-0.5-19.383-8.704-37.211-23.102-50.198L329.249,244.157l139.658-139.658c0.918-0.274,1.825-0.615,2.7-1.077L501.85,87.46c4.178-2.206,6.98-6.152,7.685-10.823c0.706-4.672-0.805-9.268-4.146-12.612l-34.052-34.051c-3.342-3.341-7.935-4.852-12.611-4.146c-4.671,0.705-8.616,3.507-10.823,7.686L431.94,63.755c-0.466,0.883-0.824,1.796-1.099,2.723l-65.92,65.92c-3.064,3.065-3.064,8.031,0,11.096c3.065,3.062,8.031,3.062,11.096,0l60.492-60.493l15.853,15.853l-154.7,154.7l-15.853-15.853l67.525-67.524c3.064-3.065,3.064-8.031,0-11.096c-3.065-3.062-8.031-3.062-11.096,0l-48.994,48.994l-53.322-48.094c15.118-43.516,4.17-91.931-28.625-124.725C173.706,1.665,123.314-9.04,78.916,7.987c-2.481,0.952-4.312,3.094-4.864,5.693s0.247,5.301,2.126,7.18l61.592,61.593c1.822,1.822,2.827,4.245,2.827,6.822c0,2.577-1.004,5-2.827,6.823l-39.999,39.999c-1.822,1.823-4.245,2.827-6.822,2.827c-2.577,0-5-1.003-6.823-2.827L22.533,74.504c-1.88-1.879-4.58-2.678-7.18-2.126c-2.599,0.553-4.741,2.383-5.693,4.864c-17.027,44.396-6.322,94.788,27.27,128.381c31.991,31.99,79.468,43.253,122.299,29.414l41.227,45.083c-1.981,3.871-4.557,7.481-7.734,10.658c-11.884,11.884-29.695,15.628-45.38,9.54c-2.899-1.128-6.188-0.434-8.388,1.765l-96.059,96.059c-26.004,26.005-26.004,68.317,0,94.32C55.494,505.063,72.243,512,90.058,512c17.814,0,34.564-6.937,47.161-19.534l96.059-96.058c2.198-2.199,2.891-5.489,1.765-8.388c-6.089-15.684-2.345-33.497,9.538-45.381c11.886-11.884,29.698-15.628,45.382-9.54c2.901,1.128,6.188,0.432,8.388-1.765l18.12-18.12c5.456-5.456,8.46-12.711,8.46-20.426c0-7.715-3.004-14.97-8.46-20.426l-7.713-7.713l9.383-9.383l158.552,143.007c11.172,10.077,17.539,23.911,17.926,38.951c0.387,15.04-5.259,29.183-15.898,39.821c-10.588,10.59-24.695,16.226-39.636,15.903c-14.971-0.334-28.781-6.604-38.886-17.655L282.31,346.378c-2.927-3.199-7.887-3.419-11.084-0.495c-3.197,2.925-3.419,7.887-0.495,11.084l117.888,128.915c13.024,14.241,30.822,22.321,50.115,22.752c0.54,0.012,1.079,0.018,1.618,0.018c18.688,0,36.199-7.249,49.464-20.512C503.526,474.429,510.801,456.203,510.303,436.82z M446.149,70.45l15.019-28.454l32.199,32.199l-28.454,15.019L446.149,70.45zM167.324,220.639c-2.16-2.36-5.534-3.174-8.532-2.056c-38.363,14.31-81.845,4.868-110.768-24.052c-26.262-26.263-36.438-64.337-27.471-99.815l52.477,52.477c4.787,4.786,11.15,7.421,17.918,7.421s13.131-2.635,17.917-7.421l39.999-39.999c4.786-4.787,7.421-11.15,7.421-17.918s-2.635-13.131-7.421-17.917L96.388,18.88c35.475-8.971,73.553,1.208,99.814,27.471c29.659,29.657,38.773,74.003,23.222,112.978c-1.217,3.049-0.407,6.534,2.032,8.733l56.679,51.122l-7.422,7.422L263,218.893c-5.456-5.456-12.711-8.46-20.426-8.46c-7.715,0-14.97,3.004-20.426,8.46l-18.12,18.12c-2.198,2.199-2.891,5.489-1.765,8.388c2.087,5.375,2.992,10.997,2.837,16.548L167.324,220.639z M305.374,302.119l-14.682,14.683c-20.192-5.821-42.164-0.299-57.205,14.741h-0.001c-15.04,15.041-20.563,37.01-14.74,57.206l-92.622,92.62c-9.634,9.634-22.442,14.94-36.065,14.94s-26.433-5.306-36.065-14.94c-19.887-19.886-19.887-52.244,0-72.131l92.621-92.621c20.194,5.824,42.163,0.298,57.205-14.742c15.04-15.041,20.564-37.01,14.741-57.205l14.683-14.682c5.144-5.146,13.517-5.146,18.661,0l13.261,13.261l26.947,26.947l13.261,13.261C310.52,288.603,310.52,296.975,305.374,302.119z"/></g></g><g><g><path d="M162.326,346.249c-3.065-3.063-8.031-3.063-11.096,0l-74.318,74.318c-3.064,3.065-3.064,8.031,0,11.096c1.532,1.531,3.541,2.297,5.548,2.297c2.007,0,4.016-0.766,5.548-2.297l74.318-74.318C165.389,354.28,165.389,349.313,162.326,346.249z"/></g></g><g><g><path d="M189.785,373.708c-3.064-3.063-8.031-3.063-11.096,0l-74.318,74.317c-3.064,3.065-3.064,8.031,0,11.096c1.532,1.531,3.54,2.297,5.548,2.297c2.007,0,4.016-0.766,5.548-2.297l74.318-74.317C192.849,381.739,192.849,376.773,189.785,373.708z"/></g></g></svg>
            Hogar
          </div>
          {% if not isMobile %}
            <div class="breakline"></div>
          {% endif %}
          <div class="categ" data-open="categsAuto">
            <svg height="512" viewBox="0 0 74 74" width="512"><path d="m63.584 55.52h-53.168a4.575 4.575 0 0 1 -4.577-4.369l-.453-13.56a8.981 8.981 0 0 1 2.478-6.591 12.434 12.434 0 0 0 2.333-3.43l4.14-11.26a7.455 7.455 0 0 1 6.971-4.862h31.384a7.455 7.455 0 0 1 6.971 4.862l4.17 11.332a12.421 12.421 0 0 0 2.302 3.358 8.982 8.982 0 0 1 2.478 6.6l-.452 13.534a4.577 4.577 0 0 1 -4.577 4.386zm-42.276-42.073a5.448 5.448 0 0 0 -5.094 3.553l-4.17 11.331a14.48 14.48 0 0 1 -2.735 4.052 6.974 6.974 0 0 0 -1.924 5.129l.453 13.559a2.575 2.575 0 0 0 2.578 2.449h53.168a2.578 2.578 0 0 0 2.579-2.462l.452-13.533a6.984 6.984 0 0 0 -1.924-5.142 14.442 14.442 0 0 1 -2.706-3.98l-4.199-11.403a5.448 5.448 0 0 0 -5.094-3.553z"/><path d="m57.167 31.642h-40.334a1 1 0 0 1 -.895-1.448l.1-.215 4.225-11.489a1.11 1.11 0 0 1 1.045-.73h31.384a1.115 1.115 0 0 1 1.05.743l4.322 11.7a1.021 1.021 0 0 1 -.061.968 1 1 0 0 1 -.836.471zm-38.877-2h37.423l-3.64-9.882h-30.146zm33.57-10.462.009.024zm-29.715-.013-.009.024z"/><path d="m20.62 62.553h-6.33a2.4 2.4 0 0 1 -2.39-2.393v-5.64a1 1 0 0 1 1-1h9.118a1 1 0 0 1 1 1v5.64a2.4 2.4 0 0 1 -2.398 2.393zm-6.72-7.033v4.64a.394.394 0 0 0 .394.393h6.33a.4.4 0 0 0 .394-.393v-4.64z"/><path d="m59.71 62.553h-6.33a2.4 2.4 0 0 1 -2.394-2.393v-5.64a1 1 0 0 1 1-1h9.114a1 1 0 0 1 1 1v5.64a2.4 2.4 0 0 1 -2.39 2.393zm-6.724-7.033v4.64a.4.4 0 0 0 .394.393h6.33a.394.394 0 0 0 .394-.393v-4.64z"/><path d="m22.449 47.638a2.378 2.378 0 0 1 -.5-.054l-7.349-1.431a2.335 2.335 0 0 1 -1.711-3.114l.942-2.5a2.336 2.336 0 0 1 2.756-1.439l5.131 1.143.025.006a2.327 2.327 0 0 1 1.559 1.3l1.268 2.781a2.339 2.339 0 0 1 -2.121 3.307zm-6.423-6.6a.334.334 0 0 0 -.321.215l-.942 2.5a.333.333 0 0 0 .018.28.337.337 0 0 0 .226.169l7.344 1.43a.337.337 0 0 0 .354-.114.323.323 0 0 0 .045-.351l-1.268-2.781a.337.337 0 0 0 -.217-.185l-5.138-1.145a.4.4 0 0 0 -.101-.02z"/><path d="m51.548 47.64a2.342 2.342 0 0 1 -2.118-3.309l1.27-2.781a2.331 2.331 0 0 1 1.56-1.3l.025-.006 5.153-1.144a2.33 2.33 0 0 1 2.728 1.447l.942 2.5a2.336 2.336 0 0 1 -1.69 3.11l-7.386 1.439a2.283 2.283 0 0 1 -.484.044zm1.187-5.446a.34.34 0 0 0 -.218.186l-1.267 2.78a.337.337 0 0 0 .378.469l7.386-1.439a.323.323 0 0 0 .2-.164.331.331 0 0 0 .018-.279l-.942-2.5a.334.334 0 0 0 -.4-.208z"/><path d="m44.143 42.678h-14.286a1 1 0 0 1 0-2h14.286a1 1 0 0 1 0 2z"/><path d="m40.039 47.466h-6.078a1 1 0 0 1 0-2h6.078a1 1 0 0 1 0 2z"/><path d="m9.491 31.642h-.042l-5.441-.224a2.125 2.125 0 0 1 -2.008-2.225l.082-1.777a3.352 3.352 0 0 1 4.109-3.116l5.614 1.258a1 1 0 1 1 -.438 1.951l-5.621-1.26a1.354 1.354 0 0 0 -1.663 1.254l-.083 1.782a.128.128 0 0 0 .121.135l5.41.223a1 1 0 0 1 -.04 2z"/><path d="m64.509 31.642a1 1 0 0 1 -.04-2l5.441-.224a.129.129 0 0 0 .09-.133l-.083-1.779a1.353 1.353 0 0 0 -1.656-1.255l-5.628 1.261a1 1 0 1 1 -.438-1.951l5.621-1.26a3.353 3.353 0 0 1 4.1 3.114l.084 1.778a2.119 2.119 0 0 1 -1.975 2.223l-5.472.225z"/></svg>
            Auto
          </div>
          {% if isMobile %}
            <div class="breakline"></div>
          {% endif %}
          <div class="categ" data-open="categsProfs">
            <svg height="512pt" viewBox="-10 0 512 512.001" width="512pt"><path d="m214.65625 292.714844h-192.988281c-8.824219 0-8.824219-13.339844 0-13.339844h174.289062c9.917969 0 9.929688-14.996094 0-14.996094h-159.503906v-221.042968h407.183594v221.042968h-48.269531c-9.914063 0-9.933594 14.996094 0 14.996094h65.769531c8.820312 0 8.820312 13.339844 0 13.339844h-83.128907c-9.914062 0-9.929687 15 0 15h83.128907c11.945312 0 21.664062-9.722656 21.664062-21.667969 0-11.949219-9.71875-21.667969-21.664062-21.667969h-2.5v-221.042968h2.5c11.945312 0 21.664062-9.722657 21.664062-21.667969 0-11.949219-9.71875-21.667969-21.664062-21.667969h-439.46875c-11.949219 0-21.667969 9.71875-21.667969 21.667969 0 11.875 9.605469 21.550781 21.453125 21.667969v221.042968c-11.847656.117188-21.453125 9.789063-21.453125 21.667969 0 11.945313 9.71875 21.667969 21.667969 21.667969h192.988281c9.914062 0 9.929688-15 0-15zm-192.988281-277.714844h439.46875c8.820312 0 8.820312 13.335938 0 13.335938h-439.46875c-8.828125 0-8.816407-13.335938 0-13.335938zm0 0"/><path d="m129.078125 70.464844c0-6.585938-5.359375-11.941406-11.945313-11.941406h-47.082031c-6.585937 0-11.941406 5.355468-11.941406 11.941406v29.085937c0 6.585938 5.355469 11.941407 11.941406 11.941407h47.082031c6.585938 0 11.945313-5.355469 11.945313-11.941407zm-15 26.027344h-40.972656v-22.972657h40.972656zm0 0"/><path d="m129.078125 139.96875c0-6.585938-5.359375-11.941406-11.945313-11.941406h-47.082031c-6.585937 0-11.941406 5.355468-11.941406 11.941406v29.085938c0 6.585937 5.355469 11.941406 11.941406 11.941406h47.082031c6.585938 0 11.945313-5.355469 11.945313-11.941406zm-15 26.027344h-40.972656v-22.972656h40.972656zm0 0"/><path d="m117.132812 197.53125h-47.082031c-6.585937 0-11.941406 5.355469-11.941406 11.941406v29.085938c0 6.585937 5.355469 11.941406 11.941406 11.941406h47.082031c6.585938 0 11.945313-5.355469 11.945313-11.941406v-29.085938c0-6.585937-5.359375-11.941406-11.945313-11.941406zm-3.054687 37.972656h-40.972656v-22.976562h40.972656zm0 0"/><path d="m446.351562 340.78125c-8.167968-3.511719-16.734374-6.019531-25.460937-7.71875l-75.988281-14.773438v-18.777343c21.339844-14.554688 32.890625-35.171875 35.40625-58.324219 11.074218-.878906 19.820312-10.171875 19.820312-21.46875v-15.414062c18.058594-7.851563 15.617188-34.203126-3.488281-38.648438v-5.953125c0-53.480469-43.355469-96.839844-96.839844-96.839844h-8.117187c-53.484375 0-96.839844 43.359375-96.839844 96.839844v5.949219c-19.097656 4.445312-21.546875 30.800781-3.484375 38.652344v15.410156c0 11.300781 8.742187 20.59375 19.820313 21.46875 2.503906 23.046875 13.914062 43.667968 35.40625 58.328125v18.773437l-75.988282 14.777344c-8.726562 1.699219-17.292968 4.203125-25.460937 7.71875-30.832031 13.269531-45.875 34.453125-45.875 64.375v15.40625c0 9.914062 14.996093 9.929688 14.996093 0v-15.402344c0-22.472656 10.210938-38.011718 32.609376-48.746094.902343 3.992188 14.644531 41.292969 14.644531 93.410157v47.179687h-31.691407c-8.59375 0-15.5625-6.96875-15.5625-15.5625v-31.039062c0-9.914063-14.996093-9.929688-14.996093 0v31.039062c0 16.878906 13.679687 30.558594 30.558593 30.558594h331.847657c16.878906 0 30.558593-13.679688 30.558593-30.558594v-76.28125c0-29.925781-15.046874-51.109375-45.875-64.378906zm-15.714843 10.058594c-1.042969 4.578125-15.660157 43.929687-15.660157 98.984375v47.179687h-111.734374v-37.785156c0-11.234375 3.417968-22.03125 9.882812-31.21875 9.683594-13.769531 49.570312-71.320312 61.398438-88.671875 53.835937 10.839844 47.34375 8.59375 56.113281 11.511719zm-140.007813 68.527344c-5.753906-8.179688-13.226562-18.914063-21.027344-30.164063 2.316407-.511719 4.578126-1.402344 6.699219-2.671875l19.441407-11.660156 19.441406 11.660156c2.121094 1.269531 4.382812 2.160156 6.699218 2.671875-7.792968 11.246094-15.265624 21.976563-21.023437 30.164063-1.917969 2.726562-3.625 5.5625-5.117187 8.488281-1.488282-2.925781-3.195313-5.761719-5.113282-8.488281zm-10.195312-52.804688c-11.875 6.359375-11.03125 8.261719-16.425782 7.621094-3.355468-.398438-6.367187-2.265625-8.289062-5.046875-8.964844-12.984375-17.265625-25.03125-22.699219-32.933594l15.019531-2.917969c4.851563 14.734375 20.839844 26.453125 32.394532 33.277344zm78.035156-30.355469c-5.449219 7.917969-13.769531 20-22.757812 33.015625-3.667969 5.304688-10.242188 5.984375-12.8125 4.441406l-11.847657-7.101562c11.558594-6.824219 27.542969-18.542969 32.394531-33.277344zm-106.40625-248.097656v9.40625c0 9.914063 14.996094 9.929687 14.996094 0v-15.867187c6.730468-2.128907 13.835937-3.40625 21.1875-3.710938v37.082031c0 9.914063 14.996094 9.929688 14.996094 0v-37.082031c7.351562.304688 14.457031 1.585938 21.183593 3.710938v15.867187c0 9.914063 15 9.929687 15 0v-9.402344c46.882813 26.046875 41.898438 75.828125 42.21875 77.015625h-171.800781c.257812-.964844-4.421875-51.101562 42.21875-77.019531zm-52.585938 92.015625h192.535157c7.191406 0 7.179687 10.863281 0 10.863281h-192.535157c-7.191406 0-7.179687-10.863281 0-10.863281zm26.226563 53.46875c-.089844-4.078125-3.417969-7.335938-7.5-7.335938-1.25-.3125-11.84375 1.945313-11.84375-6.539062v-13.730469h178.773437v13.730469c0 8.472656-10.882812 6.296875-11.847656 6.539062-4.082031 0-7.414062 3.257813-7.5 7.335938-.402344 18.75-8.367187 36.164062-21.859375 47.777344-28.640625 24.660156-67.71875 24.664062-96.363281 0-13.492188-11.613282-21.460938-29.03125-21.859375-47.777344zm104.199219 74.199219v16.675781c0 13.410156-22.757813 27.609375-34.160156 33.347656-11.390626-5.734375-34.097657-19.898437-34.160157-33.292968 0-.015626 0-.035157 0-.054688v-16.675781c21.828125 9.414062 46.46875 9.425781 68.320313 0zm-169.050782 43.046875c8.757813-2.910156 2.25-.667969 56.109376-11.511719l4.285156 6.226563c4.371094 6.355468 10.421875 15.140624 17.128906 24.859374 12.234375 17.734376 29.109375 42.121094 39.988281 57.582032 6.464844 9.191406 9.882813 19.984375 9.882813 31.222656v37.78125h-111.734375v-47.179688c0-56.46875-14.261719-92.824218-15.660157-98.980468zm316.375 130.601562c0 8.578125-6.976562 15.558594-15.558593 15.558594h-31.691407v-47.175781c0-50.6875 14.089844-90.957031 14.648438-93.410157 22.394531 10.734376 32.605469 26.273438 32.605469 48.746094v76.28125zm0 0"/><path d="m336.625 433.785156c-7.070312 0-12.824219 5.753906-12.824219 12.824219v15.027344c0 7.074219 5.753907 12.824219 12.824219 12.824219h44.105469c7.070312 0 12.824219-5.75 12.824219-12.824219v-15.027344c0-7.070313-5.753907-12.824219-12.824219-12.824219zm41.929688 25.675782h-39.753907v-10.675782h39.753907zm0 0"/></svg>
            Profesionales
          </div>
          <div class="categ" data-open="categsMore">
            <svg version="1.1" x="0px" y="0px"viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve"><g><g><circle cx="42.667" cy="213.333" r="42.667"/></g></g><g><g><circle cx="213.333" cy="213.333" r="42.667"/></g></g><g><g><circle cx="384" cy="213.333" r="42.667"/></g></g></svg>
            Más...
          </div>
        </div>
      </div>
      <div class="reveal homeRevealCategs" id="categsProfs" data-reveal>
        <div class="homemorecategs">
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000002', 'rubroNombre':'abogados' }) }}">Abogados</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD10109639', 'rubroNombre':'escribanos' }) }}">Escribanos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1001161', 'rubroNombre':'contadores publicos' }) }}">Contadores Públicos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000063', 'rubroNombre':'arquitectos' }) }}">Arquitectos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000617', 'rubroNombre':'ingenierios' }) }}">Ingenieros</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1001033', 'rubroNombre':'ingenierios' }) }}">Veterinarios</a>
        </div>
        <div class="homemoreclose" data-close>
          Cerrar
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="reveal homeRevealCategs" id="categsFood" data-reveal>
        <div class="homemorecategs">
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000898', 'rubroNombre':'restaurantes' }) }}">Restaurantes</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000787', 'rubroNombre':'panaderias' }) }}">Panaderias</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD10050', 'rubroNombre':'delivery' }) }}">Delivery</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1002085', 'rubroNombre':'bares' }) }}">Bares</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000834', 'rubroNombre':'pizzerias' }) }}">Pizzerías</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD10114318', 'rubroNombre':'comidas-sin-gluten' }) }}">Para celíacos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000297', 'rubroNombre':'rotiserias' }) }}">Rotiserías</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000296', 'rubroNombre':'congelados' }) }}">Congelados</a>
        </div>
        <div class="homemoreclose" data-close>
          Cerrar
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="reveal homeRevealCategs" id="categsHome" data-reveal>
        <div class="homemorecategs">
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000390', 'rubroNombre':'electricistas' }) }}">Electricistas</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000922', 'rubroNombre':'sanitarios' }) }}">Sanitarios</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000247', 'rubroNombre':'cerrajerias' }) }}">Cerrajerías</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1001040', 'rubroNombre':'vidrierias' }) }}">Vidrierías</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1002184', 'rubroNombre':'albañiles' }) }}">Albañiles</a>
        </div>
        <div class="homemoreclose" data-close>
          Cerrar
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="reveal homeRevealCategs" id="categsBeauty" data-reveal>
        <div class="homemorecategs">
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000500', 'rubroNombre':'farmacias' }) }}">Farmacias</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000776', 'rubroNombre':'odontologos' }) }}">Dentistas</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000726', 'rubroNombre':'medicos' }) }}">Médicos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000808', 'rubroNombre':'peluquerias' }) }}">Peluquerías</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1002070', 'rubroNombre':'spa' }) }}">Spa</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000553', 'rubroNombre':'gimnasios' }) }}">Gimnasios</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD8057', 'rubroNombre':'depilaciones' }) }}">Depilación</a>
        </div>
        <div class="homemoreclose" data-close>
          Cerrar
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="reveal homeRevealCategs" id="categsAuto" data-reveal>
        <div class="homemorecategs">
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1001872', 'rubroNombre':'talleres-mecanicos' }) }}">Talleres Mecánicos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1002006', 'rubroNombre':'talleres-motos' }) }}">Talleres de Motos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD3718', 'rubroNombre':'autopartes' }) }}">Autopartes</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD1000100', 'rubroNombre':'automotoras' }) }}">Automotoras</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD2159', 'rubroNombre':'alquiler-autos' }) }}">Alquiler de Autos</a>
          <a href="{{ path('rubroZona', {'zonaId': 'Z'~lastZoneId, 'zonaNombre': urlize(lastzone), 'rubroId':'PRD14979', 'rubroNombre':'alquiler-autos' }) }}">Mecánica Agrícola</a>
        </div>
        <div class="homemoreclose" data-close>
          Cerrar
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="reveal homeRevealCategs" id="categsMore" data-reveal>
        <div class="homemorecategs">
          {% if COUNTRY == 'uy' %}
            <a href="{{path('azar')}}">Azar</a>
          {% endif %}
          <a href="{{path('horoscopo')}}">Horóscopo</a>
          {% if COUNTRY == 'uy' %}
            <a href="{{path('cartelera',  {'place': '-', 'placeidr': 0, 'placeids': 0})}}">Cartelera</a>
          {% endif %}
          <a href="{{path('promocionesHome')}}">Promociones</a>
        </div>
        <div class="homemoreclose" data-close>
          Cerrar
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>

  </div>


    {# <div class="row " style="padding: 30px 0px;background-color: white;">
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/bar{{lastZoneUrl}}"><div class="icon bicon-prd1002085"></div>Bar</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/bancos{{lastZoneUrl}}"><div class="icon bicon-prd1000136"></div>Bancos</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/cajeros{{lastZoneUrl}}"><div class="icon bicon-prd2280"></div>Cajeros</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/cerrajerias{{lastZoneUrl}}"><div class="icon bicon-prd1000247"></div>Cerrajeria</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/delivery{{lastZoneUrl}}"><div class="icon bicon-prd10050"></div>Delivery</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/estaciones-de-servicio{{lastZoneUrl}}"><div class="icon bicon-prd1001378"></div>Estaciones</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/farmacias{{lastZoneUrl}}"><div class="icon bicon-prd1000500"></div>Farmacias</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/gomerias{{lastZoneUrl}}"><div class="icon bicon-prd1001359"></div>Gomerias</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/hoteles{{lastZoneUrl}}"><div class="icon bicon-prd1000597"></div>Hoteles</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/restaurantes{{lastZoneUrl}}"><div class="icon bicon-prd1000898"></div>Restaurantes</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/talleres-mecanicos{{lastZoneUrl}}"><div class="icon bicon-prd1001872"></div>Talleres</a></div>
        <div class="large-1 medium-2 small-3 gm-btn-categ"><a href="/buscar/electricistas{{lastZoneUrl}}"><div class="icon bicon-prd1000390"></div>Electricistas</a></div>
        <div class="small-12" style="text-align: center;font-size: 13px;color: #777;"><a data-open="moreCategs">VER MAS</a></div>
    </div>
    <div class="reveal" id="moreCategs" data-reveal>
        <div class="section-header section-header-left">Categorias principales</div>
        <div>
            {% include 'components/listadoRubrosPrincipales.html.twig' %}
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> #}

    

    {# COLLECTIONS #}
    {% if collections | length > 0 %}
      {% for card in collections %}
        {% if card.name == 'collection' and card.data.stores | length > 0 %}
          <div class="row homecolcntr" style="margin-bottom: 40px;">
            <div class="large-12 medium-12 small-12 small-collapse" >
              <h2>{{card.data.title}}</h2>
              <h3>{{card.data.subtitle}}</h3>
            </div>
            <div class="homecolgrid" >
              {% for sto in card.data.stores %}
                {% set cloc = (sto.idr * 10000) + sto.ids %}
                <a href="{{path('comercio', {'id': 'LOC' ~ cloc, 'comercioNombre': urlize(sto.nam)}) }}" class="homecolbox">
                  {% if sto.ims | length == 0 %}
                      <picture >
                          <source type="image/webp" data-srcset="{{ app.request.basepath }}/img/{{BRANDNOIMS}}.webp">
                          <source type="image/png" data-srcset="{{ app.request.basepath }}/img/{{BRANDNOIMS}}.png">
                          <img class="lazyload"  data-src="{{ app.request.basepath }}/img/{{BRANDNOIMS}}.png" alt="{{sto.nam}}">
                      </picture>
                  {% else %}
                      <picture >
                          <source type="image/webp" data-srcset="{{sto.ims | asWebp}}">
                          <source type="image/png" data-srcset="{{sto.ims}}">
                          <img class="lazyload" data-src="{{sto.ims}}" alt="{{sto.nam}}">
                      </picture>
                  {% endif %}
                  <div style="padding:10px">
                    <h4>{{sto.nam}}</h4>
                    <h5>{{sto.adr}}</h5>
                    <h6>{{sto.nmz}}</h6>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}

      {% endfor %}
    {% endif %}

    {# BANNER #}
    <div class="row ">
      <div class="large-12 medium-12 small-12 small-collapse text-center" style="margin: 20px 0px;">
        {% if isMobile %}
          <div id="sas_28427" class="gmad-top"></div>
        {% else %}
          <div id="sas_28427" class="gmad-top"></div>
        {% endif %}
      </div>
    </div>

    {# POSTS FEED #}
    {% if data.posts | length > 0 %}
      <div class="row " style="margin-top:40px">
        <div class="large-12 medium-12 small-12 columns">
          <div class="section-header text-center">Novedades</div>
          <div class="section-subheader text-center">Enterate de lo que esta pasando en tu barrio!</div>
          <div class="homeposts">

            {% for post in data.posts %}
              {% include 'components/feedCard.html.twig' with {'post': post} %}
            {% endfor %}

          </div>
          <div style="text-align:center;margin-top:20px;">
            <a class="button" style="margin-top:5px;"
                href="{{ url('novedades') }}" 
                title="Ver más novedades">Ver más novedades</a>
          </div>
        </div>
      </div>
    {% endif %}

    {# BANNER 2 #}
    <div class="row" style="margin: 15px auto;">
      <div class="large-12 medium-12 small-12 small-collapse text-center" style="margin: 20px 0px;">
        <div id="sas_27839" class="gmad-top"></div>
      </div>
    </div>

    {# PRESUPUESTOS #}
    {% if data.quoters | length > 0 %}
      <div class="row homecolcntr">
        <div class="large-12 medium-12 small-12 columns text-center">
          <div class="section-header">Solicitá tu presupuesto sin costo</div>
          <div class="section-subheader">Enviá los detalles de tu proyecto o necesidad y obtené varios presupuestos</div>
          <div class="row align-stretch">
            <div class="homecolgrid" >
              {% for sto in data.quoters %}
                {% set cloc = (sto.idr * 10000) + sto.ids %}
                <div class="homecolbox">
                  {% if sto.ims | length == 0 %}
                      <picture >
                          <source type="image/webp" data-srcset="{{ app.request.basepath }}/img/{{BRANDNOIMS}}.webp">
                          <source type="image/png" data-srcset="{{ app.request.basepath }}/img/{{BRANDNOIMS}}.png">
                          <img class="lazyload"  data-src="{{ app.request.basepath }}/img/{{BRANDNOIMS}}.png" alt="{{sto.nam}}">
                      </picture>
                  {% else %}
                      <picture >
                          <source type="image/webp" data-srcset="{{sto.ims | asWebp}}">
                          <source type="image/png" data-srcset="{{sto.ims}}">
                          <img class="lazyload" data-src="{{sto.ims}}" alt="{{sto.nam}}">
                      </picture>
                  {% endif %}
                  <div style="padding:10px 10px 0px 10px">
                    <h4>{{sto.nam}}</h4>
                    <h5>{{sto.adr}}</h5>
                    <h6>{{sto.nmz}}</h6>
                    
                    <a class="button" style="margin-top:5px;"
                        href="{{ path('uberto/quoteRequest', {'nam': urlize(sto.nam), 'idr': sto.idr, 'ids': sto.ids}) }}" 
                        title="Solicitar presupuesto en {{sto.nam}}">
                        Solicitar presupuesto
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    {% endif %}


        
    {# INFO DE ULTIMA ZONA #}
    <div class="row" style="padding: 20px 0px;">
        <div class="large-12 medium-12 small-12" style="text-align: center;font-size: 13px;color: #666;">
            Los datos se muestran basados en <strong>{{lastzone}}</strong> que fue la última zona que visitaste.
        </div>
    </div>
    
    {% include 'components/footer.html.twig' %}
    
</div>

{% endblock content %}


{% block deferredCss %}
    {% include 'components/deferredCss.html.twig' with {'cssPageName':'h'} %}
{% endblock deferredCss %}