{% extends ('layout.html.twig') %}

{% set isMobile = isMobile() %}

{% block admConfigHead %} 
    {% if (not isAdultContent) %}
      googletag.cmd.push(function() {
          {% if isMobile %}
          googletag.defineSlot('{{ADS_SLOT_TOP}}', [[320, 100],[300, 100],[320, 50]], 'sas_27839').addService(googletag.pubads());
          googletag.defineSlot('{{ADS_SLOT_MIDDLE}}', [[320, 100],[300, 100],[320, 50]], 'sas_28425').addService(googletag.pubads());
          googletag.defineSlot('{{ADS_SLOT_BOTTOM}}', [[320, 100],[300, 100],[320, 50]], 'sas_28427').addService(googletag.pubads());
          {% else %}
          googletag.defineSlot('{{ADS_SLOT_RIGHT}}', [[300,250]], 'sas_27528').addService(googletag.pubads());
          googletag.defineSlot('{{ADS_SLOT_RIGHT1}}', [[300,250]], 'sas_27838').addService(googletag.pubads());
          {% endif %}
          googletag.pubads().setTargeting('rubro', '{{ rubroNombre }}');
          googletag.pubads().setTargeting('zona', '{{ zonaNombre }}');
          googletag.pubads().setTargeting('Channel', 'web');
          googletag.pubads().enableSingleRequest();
          googletag.enableServices();
      });
    {% endif %}
{% endblock admConfigHead %}
{% block admConfigBody %} 
  {% if (not isAdultContent) %}
    <script>
        {% if isMobile %}
            googletag.cmd.push(function() { 
                googletag.display('sas_27839'); 
                googletag.display('sas_28425'); 
                googletag.display('sas_28427'); 
            });
        {% else %}
            googletag.cmd.push(function() { 
                googletag.display('sas_27528'); 
                googletag.display('sas_27838'); 
            });
        {% endif %}
    </script>
  {% endif %}
{% endblock admConfigBody %} 

{% block custom_stylesheets %}
    {% if IS_PRODUCTION %} 
        <style>
            {{ source( '_inlinecss/'~BRANDCODE~'/c-b'~filesSignature~'.css') }}
        </style>
    {% endif %}
{% endblock custom_stylesheets %}

{% block javascripts %}
  {# JAVASCRIPT - START #}
  {% include 'layout/jsloader.html.twig' with {'v':1} %}
  {# JAVASCRIPT - END #}
  {# JAVASCRIPT 2 TEST - START #}
  {# {% if not IS_PRODUCTION %} 
    <script src="{{ app.request.basepath }}/js/vendors/tarekautocomplete/autoComplete.min.js"></script>
    <script src="{{ app.request.basepath }}/js/vendors/storage/js.storage.min.js"></script>
    <script src="{{ app.request.basepath }}/js/vendors/lazysizes/lazysizes.min.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/logger.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/utils.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/webpush.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/worker.service.js"></script>
    <script src="{{ app.request.basepath }}/js2/common/reveal.js"></script>
    <script src="{{ app.request.basepath }}/js2/components/autocomplete.component.js"></script>
    <script src="{{ app.request.basepath }}/js2/config.js"></script>
    <script src="{{ app.request.basepath }}/js2/app.js"></script>
    <script src="{{ app.request.basepath }}/js2/pages/search.js"></script>
  {% endif %}
  {% include 'layout/jsloader.html.twig' with {'partName':'s', 'v':2} %} #}
  {# JAVASCRIPT 2 TEST - END #}
  {{ parent() }}
{% endblock javascripts %}

{% block pageTitle %}{{ (rubroNombre | replace({'-': ' '})) | title | htmlentities }} {{ zonaNombre != '0' and zonaNombre != 'uy' ? 'en ' ~ zonaNombre | title : '' }} | {{BRAND}}{% endblock pageTitle %}

{% block metas %}
    {% if rubros | length > 1 %}
      {% set extraRubros = " Encuentra tambien " %}
      {% for rubro in rubros | slice(1, 3) %}
        {% if rubro.nam != NULL and rubro.nam | length > 0 %}
          {% if loop.index0 == 0 %}
            {% set extraRubros = extraRubros ~ rubro.nam %}
          {% elseif loop.index0 == (loop.length-1) %}
            {% set extraRubros = extraRubros ~ ' o ' ~ rubro.nam %}
          {% else %}
            {% set extraRubros = extraRubros ~ ', ' ~ rubro.nam %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <meta name="description" content="Descubre los mejores {{ (rubroNombre | replace({'-': ' '})) | title | htmlentities }} {{ zonaNombre != '0' and zonaNombre != 'uy' ? 'en ' ~ zonaNombre | title : '' }}.{{extraRubros}} Conoce sus teléfonos, whatsapp, instagram, cómo llegar y más novedades." />
    {% else %}
      <meta name="description" content="Descubre los mejores {{ (rubroNombre | replace({'-': ' '})) | title | htmlentities }} {{ zonaNombre != '0' and zonaNombre != 'uy' ? 'en ' ~ zonaNombre | title : '' }}. Conoce sus teléfonos, whatsapp, instagram, cómo llegar y más novedades." />
    {% endif %}
    <meta name="keywords" content="{{ (rubroNombre | replace({'-': ' '})) | title | htmlentities }} {{ zonaNombre != '0' and zonaNombre != 'uy' ? 'en ' ~ zonaNombre | title | htmlentities : '' }}, busqueda, comercios, comercios, servicios, zonas, departamentos, local, telefono, direccion" />
    <meta name="robots" content="index, all" />
    <meta name="DC.title" content="{{ (rubroNombre | replace({'-': ' '})) | title | htmlentities }} {{ zonaNombre != '0' and zonaNombre != 'uy' ? 'en ' ~ zonaNombre | title | htmlentities : '' }} | {{BRAND}}" />
    <meta name="publisher" content="{{BRAND}}" />
    <meta name="language" content="es" />
    <meta name="distribution" content="global"/>

    {% if controllerUrl is defined %}
        {% if controllerUrl == 'rubroZona' %}
            {% if pagina == 1 %}
                <link rel="canonical" href="https:{{ url(controllerUrl, {'zonaNombre': urlize(zonaNombre), 'rubroNombre': urlize(rubroNombre), 'rubroId': rubroId, zonaId: zonaId }, true) }}"/>
            {% else %}
                <link rel="canonical" href="https:{{ url(controllerUrl, {'zonaNombre': urlize(zonaNombre), 'rubroNombre': urlize(rubroNombre), 'rubroId': rubroId, zonaId: zonaId }, true) }}?pagina={{pagina}}"/>
            {% endif %}
        {% elseif controllerUrl == 'zona' %}
            {% if pagina == 1 %}
                <link rel="canonical" href="https:{{ url(controllerUrl, {'zonaNombre': urlize(zonaNombre), zonaId: zonaId }, true) }}"/>
            {% endif %}
        {% endif %}
    {% endif %}
    <link rel="preconnect" href="https://static.tingelmar.com/" />
    <link rel="dns-prefetch" href="https://static.tingelmar.com/" />

    <link rel="preload" as="style" href="{{ app.request.basepath }}/css/dist/p-{{BRANDCODE}}/p-b{{ filesSignature }}.min.css" />

     {% if comerciosArray | length > 0 %}
        {% set break = false %}
        {% for comerciopos, comercio in comerciosArray if not break %}
          {% if not comercio.ics is empty %}
            <link rel="preload" as="image" href="{{comercio.ics | asWebp }}" />
            <link rel="preload" as="image" href="{{comercio.ics}}" />
          {% endif %}
          {% if comerciopos == 5 %}
            {% set break = true %}
          {% endif %}
        {% endfor %}
     {% endif %}

{% endblock metas %}

{% block header %}
    {{ render(path('headerComponent', {'zoneId':zonaId, 'zoneName':zonaNombre})) }}
{% endblock header %}

{% block content %}

    <div class="row  is-collapse-child list-com">

        <div class="large-8 medium-8 small-12 columns">
            <div class="row">
            
                {# REVEAL: MAS RESULTADOS #}
                {% if rubros | length > 20 %}
                    <div class="reveal" id="restCategs" data-reveal>
                        <h2 style="width: 100%;font-size: 16px;">M&aacute;s resultados</h2>
                        <div class="listado-rubro">
                            <ul style="list-style: none;">
                            {% for rubro in rubros | slice(20) %}
                                {% if rubro.nam != NULL and rubro.nam | length > 0 %}
                                  <li style="font-size: 12px;">
                                      {% if zonaId == '0' %}
                                          <a href="{{ path('rubro', {'rubroNombre': urlize(rubro.nam), 'rubroId': rubro.idp }) }}">
                                              {{rubro.nam | htmlentities}}
                                              {% if rubro.cnt is defined %}
                                                  <span style="font-size: 11px;color:#777"> ({{rubro.cnt}})</span>
                                              {% endif %}
                                          </a>
                                      {% else %}
                                          <a href="{{ path('rubroZona', {'zonaNombre': urlize(zonaNombre), 'rubroId': rubro.idp, 'rubroNombre': urlize(rubro.nam), 'zonaId': zonaId}) }}">
                                              {{rubro.nam | htmlentities}}
                                              {% if rubro.cnt is defined %}
                                                  <span style="font-size: 11px;color:#777"> ({{rubro.cnt}})</span>
                                              {% endif %}
                                          </a>
                                      {% endif %}
                                  </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}

                {# LEFT COLUMN (CATEGS + ZONES + RELATED) #}
                <div class="large-4 medium-5 small-12 columns " >
                    {% if isMobile %}
                        <button class="listado-filter-button" data-toggle="filterCntr"  aria-label="Buscar">
                            <i class="fa fa-sliders" aria-hidden="true" style="font-size: 120%;"></i>
                        </button>
                        <div id="filterCntr" class="dropdown-pane" data-dropdown>
                    {% else %}
                        <div id="filterCntr" style="padding-left: 5px;">
                    {% endif %}
                        {% if rubros | length > 0 %}
                            <div class="tbox">
                                <div class="tbox-title">Categor&iacute;as</div>
                                <ul>
                                    {% for rubro in rubros | slice(0, 20) %}
                                        {% if rubro.nam != NULL and rubro.nam | length > 0 %}
                                            <li>
                                                {% if zonaId == '0' %}
                                                    <a href="{{ path('rubro', {'rubroNombre': urlize(rubro.nam), 'rubroId': rubro.idp }) }}">
                                                        {{rubro.nam}}
                                                        {% if rubro.cnt is defined and rubro.cnt > 0 %}
                                                            <span> ({{rubro.cnt}})</span>
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('rubroZona', {'zonaNombre': urlize(zonaNombre), 'rubroId': rubro.idp, 'rubroNombre': urlize(rubro.nam), 'zonaId': zonaId}) }}">
                                                        {{rubro.nam}}
                                                        {% if rubro.cnt is defined and rubro.cnt > 0 %}
                                                            <span> ({{rubro.cnt}})</span>
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if rubros | length > 20 %}
                                        <li>
                                            <a data-open="restCategs"><strong>ver mas</strong></a>
                                        </li>
                                    {% endif %}
                                    <li data-open="moreCategs">
                                      <i class="fa fa-plus-square-o" aria-hidden="true"></i> <strong> rubros</strong>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="tbox">
                                <div class="tbox-title">Categor&iacute;as</div>
                                <ul>
                                    <li data-open="moreCategs">
                                      <i class="fa fa-plus-square-o" aria-hidden="true"></i> <strong> rubros</strong>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        {% if nearZones != NULL and nearZones | length > 0 %}
                            <div class="tbox">
                                <div class="tbox-title">Zonas</div>
                                <ul >
                                    {% for zone in nearZones %}
                                        {% if zone.nmz != null and zone.nmz | length > 0 %}
                                          <li>
                                              {% if paginatorLink.path == 'buscador' %}
                                                  <a href="{{ path('buscador', {'rubroNombre': rubroNombre, 'zonaNombre': urlize(zone.nmz) }) }}">
                                                      {{zone.nmz}}
                                                  </a>
                                              {% elseif paginatorLink.path == 'zona' %}
                                                  <a href="{{ path('zona', {'zonaId': 'Z'~zone.zip, 'zonaNombre': urlize(zone.nmz) }) }}">
                                                      {{zone.nmz}}
                                                  </a>
                                              {% elseif paginatorLink.path == 'rubroZona' %}
                                                  <a href="{{ path('rubroZona', {'zonaId': 'Z'~zone.zip, 'zonaNombre': urlize(zone.nmz), 'rubroId':rubroId, 'rubroNombre':urlize(rubroNombre) }) }}">
                                                      {{zone.nmz}}
                                                  </a>
                                              {% else %}
                                                  <a href="{{ path('buscador', {'rubroNombre': rubroNombre, 'zonaNombre': urlize(zone.nmz) }) }}">
                                                      {{zone.nmz}}
                                                  </a>
                                              {% endif %}
                                          </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li data-open="moreZones">
                                      <i class="fa fa-plus-square-o" aria-hidden="true"></i> <strong> zonas</strong>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        {% if rubrosRelacionadosArray.rubros is defined and rubrosRelacionadosArray.rubros | length > 0 %}
                            <div class="tbox">
                                <div class="tbox-title">Categor&iacute;as relacionadas</div>
                                <ul>
                                    {% for rubror in rubrosRelacionadosArray.rubros %}
                                        {% if rubror.nam != NULL and rubror.nam | length > 0 %}
                                          <li>
                                              <a href="{{ path('rubro', {'rubroNombre': urlize(rubror.nam), 'rubroId': rubror.idp }) }}" title="{{ rubror.nam | title }}">
                                                  {{rubror.nam}}
                                              </a>
                                          </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if rubrosRelacionadosArray.promos is defined and rubrosRelacionadosArray.promos | length > 0 %}
                            <div class="tbox">
                                <div class="tbox-title">Beneficios relacionados</div>
                                <ul>
                                    {% for promo in rubrosRelacionadosArray.promos %}
                                        <li>
                                            <a href="{{ path('promocionesFicha', {'promoNombre': urlize(promo.nam), 'promoId': promo.sidp}) }}" title="{{ promo.nam | title }}">
                                                {{promo.nam}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </div>
                </div>

                {# MIDDLE COLUMN (STORE LIST) #}
                <div class="large-8 medium-7 small-12 columns sin-bordes list-com-cntr ">

                    {% if redirectMsg is defined and redirectMsg | length > 0 %}
                    <div style="background-color: #FAFAFA;padding: 3px;font-size: 13px;line-height: 14px;color: #9E9E9E;border: 1px solid #BDBDBD;">{{redirectMsg}}</div>
                    {% endif %}

                    

                    {# TITULO PRINCIPAL #}
                    {% if resultsMode == 2 or resultsMode == 3 %}
                        <div class="resultadosbusqueda">
                            {# {% if not isMobile %}
                            <div class="resultadosbusqueda-subtitulo">{{cantidadTotalComercios}} {{cantidadTotalComercios > 1 ? 'resultados' : 'resultado'}}</div>
                            {% endif %} #}
                            <h1 >{{ rubroNombre | length > 1 ?  (rubroNombre | replace({'-': ' '})) | title : '' }} {{ zonaNombre != '0' and zonaNombre != 'uy' ? 'en ' ~ zonaNombre | title : '' }}</h1>
                        </div>
                    {% elseif resultsMode == 1 %}
                        {# TITULO SOLO ADICIONALES #}
                    {% else %}
                        {# TITULO SIN RESULTADOS #}
                        <div class="sindatos">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            <div>No pudimos encontrar resultados para tu b&uacute;squeda en este momento</div>
                            <p>Intenta agregando o cambiando palabras o tambi&eacute;n ampliando la zona de b&uacute;squeda</p>
                        </div>
                    {% endif %}

                    {# ITEMS #}

                    {% if resultsMode == 1 or resultsMode == 2 or resultsMode == 3 %}

                        <div class="listado-comercios nbox">
                            {% if comerciosArray | length > 0 %}
                                
                                <ul>

                                    {% for comerciopos, comercio in comerciosArray %}
                                        {% set imagen = '' %}
                                        {% if not comercio.ics is empty %}
                                            {% set imagen = comercio.ics %}
                                        {# {% elseif not comercio.icp is empty %}
                                            {% set imagen = comercio.icp %} #}
                                        {# {% else %}
                                            {% set imagen = app.request.basepath ~ '/img/local_default.png' %} #}
                                        {% endif %}


                                        {% set claseComercio = '' %}
                                        {% if comercio.sRnk == 0 %}
                                            {% set claseComercio = 'nopago' %}
                                        {% elseif comercio.sRnk > 0 and comercio.sRnk < 1000 %}
                                            {% set claseComercio = 'novigente' %}
                                        {% else %}
                                            {% set claseComercio ='vigente' %}
                                        {% endif %}

                                        {% set idLOC = (comercio.idr*10000) + comercio.ids%}

                                        {% if comercio.nam != '' %}

                                            <li class='item-comercio {{ claseComercio }}' data-plan="{{claseComercio}}" data-id="{{idLOC}}" data-lat="{{comercio.lat}}" data-lng="{{comercio.lon}}">
                                                <a href="{{path('comercio', {'id': 'LOC' ~ idLOC, 'comercioNombre': urlize(comercio.nam) }) }}" title="{{ comercio.nam }}">
                                                    {% if not imagen is empty %}
                                                        <div class="imagen">
                                                            {% if loop.index > 4 %}
                                                                <picture>
                                                                    <source data-srcset="{{imagen | asWebp }}" type="image/webp"/>
                                                                    <source data-srcset="{{imagen}}" type="image/png"/>
                                                                    <img class="lazyload item-icon" data-src="{{imagen}}" width="85" height="85" 
                                                                        alt="{{ comercio.nam  }} {{ rubroNombreVerdadero != '0' ?  'de '~rubroNombreVerdadero | upper : ''}} {{ 'en ' ~ zonaNombreVerdadera | upper }}"
                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                                </picture>
                                                            {% else %}
                                                                <picture>
                                                                    <source srcset="{{imagen | asWebp }}" type="image/webp"/>
                                                                    <source srcset="{{imagen}}" type="image/png"/>
                                                                    <img decoding="async" class="item-icon" src="{{imagen}}" width="85" height="85" 
                                                                        alt="{{ comercio.nam  }} {{ rubroNombreVerdadero != '0' ?  'de '~rubroNombreVerdadero | upper : ''}} {{ 'en ' ~ zonaNombreVerdadera | upper }}"
                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                                </picture>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}

                                                    <div class="{{ imagen is empty ? '' : 'contenido' }}">
                                                        <h2 class="titulo">{{ comercio.nam }}</h2>
                                                        <h3 class="direccion">
                                                            {% if comercio.adr | length > 0 %}
                                                            {{ comercio.adr }}<br>
                                                            {% endif %}
                                                            {{comercio.znam}}
                                                        </h3>
                                                        <h3 class="telefon0">
                                                            {% if comercio.phl != 0 %}
                                                            <i class="fa fa-phone" style="color: #999;"></i>
                                                            {{ comercio.phl | slice(0, 4) ~ '****'}}<br>
                                                            {% endif %}
                                                            {% if comercio.phm != 0 %}
                                                            <i class="fa fa-mobile " style="color: #999;  font-size: 1rem;"></i>
                                                            {{ comercio.phm | slice(0, 4) ~ '****' }}
                                                            {% endif %}
                                                        </h3>
                                                        {% if comercio.dsc | length > 0 %}
                                                            <span class="adicional">{{comercio.dsc | truncate(200)}}</span>
                                                        {% endif %}
                                                        
                                                        {% if comercio.o24 == 1 %}
                                                            <div class="list-badge-open24">24 hrs</div>
                                                        {% endif %}

                                                        {% if comercio.iPrm != [] %}
                                                            <div class="list-promo">
                                                                <i class="fa fa-tag" aria-hidden="true"></i>
                                                                {% if comercio.iPrm[0].bon is defined and comercio.iPrm[0].bon != '' %}
                                                                    <div class="list-promo-promo">{{comercio.iPrm[0].bon}} | {{comercio.iPrm[0].nmp}}</div>
                                                                {% else %}
                                                                    <div class="list-promo-promo">{{comercio.iPrm[0].nmp}}</div>
                                                                {% endif %}
                                                                {# {% if comercio.iPrm[0].sponsor.prmm %}
                                                                    <div class="list-promo-promo">
                                                                        <div class="list-promo-premium-logo">
                                                                            <picture>
                                                                                <source data-srcset="{{comercio.iPrm[0].sponsor.ics | asWebp }}" type="image/webp"/>
                                                                                <source data-srcset="{{comercio.iPrm[0].sponsor.ics}}" type="image/png"/>
                                                                                <img class="lazyload" data-src="{{comercio.iPrm[0].sponsor.ics}}" 
                                                                                    alt="{{comercio.iPrm[0].sponsor.nmp}}"
                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                                            </picture>
                                                                            
                                                                        </div>
                                                                        <div class="list-promo-premium-title">
                                                                            Beneficiate con {{comercio.iPrm[0].sponsor.nmp}} aquí
                                                                        </div>
                                                                    </div>
                                                                {% endif %} #}
                                                            </div>
                                                        {% endif %}

                                                    </div>
                                                </a>
                                                {% if comercio.ubb is defined %}
                                                    {% if comercio.ubb == 1 %}
                                                        <div class="ub-box">
                                                            <div class="ub-box-txt">
                                                                <div>
                                                                    {% if comercio.ubit | length > 0 %}
                                                                        <div>{{comercio.ubit | truncate(120) }} </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="ub-box-btn">
                                                                <a class="clear button" style="padding: 10px 30px;" 
                                                                    href="{{ path('storeStart', {'nam':urlize(comercio.nam),'idr': comercio.idr, 'ids': comercio.ids}) }}" title="">
                                                                    Pedir
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% elseif comercio.ubb == 2 %}
                                                        <div class="ub-box">
                                                            <div class="ub-box-txt">
                                                                <div>
                                                                    {% if comercio.ubit | length > 0 %}
                                                                        <div>{{comercio.ubit | truncate(120)}} </div>
                                                                    {% endif %}
                                                                    {% if comercio.ubart > 0 %}
                                                                        <div style="color: #689F38;">Responde en {{comercio.ubart | niceMinutes}}</div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="ub-box-btn">
                                                                <a class="clear button" href="{{ path('uberto/quoteRequest', {'nam': urlize(comercio.nam), 'idr': comercio.idr, 'ids': comercio.ids}) }}" title=""
                                                                    >Pedir presupuesto</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </li>

                                        {% endif %}

                                        {% if isMobile and loop.index is divisible by(5) and not loop.last and not isAdultContent %}
                                            <li class="show-for-small-only banner300x50">
                                                {# {{ sasTag(sasSpage, 'top') | raw }} #}
                                                <div id="sas_27839" class="gmad-top"></div>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <li>No hay resultados de búsqueda...</li>
                                    {% endfor %}

                                    {% if promosPremium | length > 0 %}
                                        <li class="car-highlight">
                                            <div class="car-highlight-title">
                                                Beneficios encontrados
                                                <div>para {{ rubroNombreVerdadero | lower }}</div>
                                            </div>
                                            
                                            <div >
                                                {% for promo in promosPremium %}
                                                    {# <div class="swiper-slide u-box-cntr-wh tarjeta-promo"> #}
                                                        {% set idr = promo.idr * 10000 %}
                                                        {% set ids = promo.ids %}
                                                        {% set loc = idr + ids %}
                                                        <a href="{{ path('comercio', {'id': 'LOC' ~ loc, 'comercioNombre': urlize(promo.stonam)}) }}"
                                                          class="promobox">
                                                            {# <div class="img-sponsor-promo">
                                                                <picture >
                                                                    <source type="image/webp" data-srcset="{{promo.spIcs | asWebp}}">
                                                                    <source type="image/png" data-srcset="{{promo.spIcs}}">
                                                                    <img class="lazyload"  data-src="{{promo.spIcs}}" alt="{{promo.spNmp}}">
                                                                </picture>
                                                                <span>Beneficiate con {{promo.spNmp}}</span>
                                                            </div> #}
                                                            <picture >
                                                                <source type="image/webp" data-srcset="{{promo.imp | asWebp}}">
                                                                <source type="image/png" data-srcset="{{promo.imp}}">
                                                                <img class="lazyload"  data-src="{{promo.imp}}" alt="{{promo.nmp}}">
                                                            </picture>
                                                            <div style="padding:5px;width: 100%;">
                                                                <h4>{{promo.nmp}}</h4>
                                                                {% if promo.bon is defined and promo.bon | length > 0 %}
                                                                <div class="promoboxbonus">{{promo.bon }}</div>
                                                                {% endif %}
                                                                <h5>{{promo.dsc}}</h5>
                                                            </div>
                                                        </a>
                                                    {# </div> #}
                                                {% endfor %}
                                            </div>

                                        </li>
                                    {% endif %}

                                </ul>
                            
                            {% endif %}

                        </div>

                        {% if comerciosAdicionales | length > 0 %}

                          <div class="resultadosbusqueda" style="margin-top: 30px;">
                            <h2>
                              {{ rubroNombre | length > 1 ?  (rubroNombre | replace({'-': ' '})) | title : '' }} cerca de {{ zonaNombre != '0' and zonaNombre != 'uy' ? zonaNombre | title : '' }}
                            </h2>
                          </div>
                          <div class="listado-comercios nbox">
                            {# <h2 class="resultadosbusqueda">
                                {{ rubroNombre | length > 1 ?  (rubroNombre | replace({'-': ' '})) | title : '' }} cerca de {{ zonaNombre != '0' and zonaNombre != 'uy' ? zonaNombre | title : '' }}
                            </h2> #}

                            <ul>

                                {% for comerciopos, comercio in comerciosAdicionales %}
                                    {% set imagen = '' %}
                                    {% if not comercio.ics is empty %}
                                        {% set imagen = comercio.ics %}
                                    {% endif %}


                                    {% set claseComercio = '' %}
                                    {% if comercio.sRnk == 0 %}
                                        {% set claseComercio = 'nopago' %}
                                    {% elseif comercio.sRnk > 0 and comercio.sRnk < 1000 %}
                                        {% set claseComercio = 'novigente' %}
                                    {% else %}
                                        {% set claseComercio ='vigente' %}
                                    {% endif %}

                                    {% set idLOC = (comercio.idr*10000) + comercio.ids%}

                                    {% if comercio.nam != '' %}

                                        <li class='item-comercio {{ claseComercio }}' data-plan="{{claseComercio}}" data-id="{{idLOC}}" data-lat="{{comercio.lat}}" data-lng="{{comercio.lon}}">
                                            <a href="{{path('comercio', {'id': 'LOC' ~ idLOC, 'comercioNombre': urlize(comercio.nam) }) }}" title="{{ comercio.nam }}">
                                                {% if not imagen is empty %}
                                                    <div class="imagen">
                                                        {% if loop.index > 3 %}
                                                            {# <img class="lazy item-icon" data-src="{{ imagen }}" width="85" height="85" 
                                                                src="/img/imgph.png"
                                                                alt="{{ comercio.nam  }} {{ rubroNombreVerdadero != '0' ?  'de '~rubroNombreVerdadero | upper : ''}} {{ 'en ' ~ zonaNombreVerdadera | upper }}"> #}
                                                            <picture>
                                                                <source data-srcset="{{imagen | asWebp }}" type="image/webp"/>
                                                                <source data-srcset="{{imagen}}" type="image/png"/>
                                                                <img class="lazyload item-icon" data-src="{{imagen}}"  width="85" height="85" 
                                                                    alt="{{ comercio.nam  }} {{ rubroNombreVerdadero != '0' ?  'de '~rubroNombreVerdadero | upper : ''}} {{ 'en ' ~ zonaNombreVerdadera | upper }}"
                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                            </picture>
                                                        {% else %}
                                                            {# <img class="item-icon" src="{{ imagen }}" width="85" height="85" 
                                                                alt="{{ comercio.nam  }} {{ rubroNombreVerdadero != '0' ?  'de '~rubroNombreVerdadero | upper : ''}} {{ 'en ' ~ zonaNombreVerdadera | upper }}"> #}
                                                            <picture>
                                                                <source data-srcset="{{imagen | asWebp }}" type="image/webp"/>
                                                                <source data-srcset="{{imagen}}" type="image/png"/>
                                                                <img class="lazyload item-icon" data-src="{{imagen}}"  width="85" height="85" 
                                                                    alt="{{ comercio.nam  }} {{ rubroNombreVerdadero != '0' ?  'de '~rubroNombreVerdadero | upper : ''}} {{ 'en ' ~ zonaNombreVerdadera | upper }}"
                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                            </picture>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                                <div class="{{ imagen is empty ? '' : 'contenido' }}">
                                                    <h2 class="titulo">{{ comercio.nam }}</h2>
                                                    <h3 class="direccion">
                                                        {% if comercio.adr | length > 0 %}
                                                        {{ comercio.adr }}<br>
                                                        {% endif %}
                                                        {{comercio.znam}}
                                                    </h3>
                                                    {# <h3 class="telefon0">
                                                            {% if comercio.phl != 0 %}
                                                            <i class="fa fa-phone" style="color: #999;"></i>
                                                            {{ comercio.phl | slice(0, 4) ~ '****'}}<br>
                                                            {% endif %}
                                                            {% if comercio.phm != 0 %}
                                                            <i class="fa fa-mobile " style="color: #999;  font-size: 1rem;"></i>
                                                            {{ comercio.phm | slice(0, 4) ~ '****' }}
                                                            {% endif %}
                                                        </h3>  #}
                                                    {% if comercio.dsc | length > 0 %}
                                                        <span class="adicional">{{comercio.dsc | truncate(200)}}</span>
                                                    {% endif %}
                                                    
                                                    {% if comercio.o24 == 1 %}
                                                        <div class="list-badge-open24">24 hrs</div>
                                                    {% endif %}


                                                    {# <div class="list-promo">
                                                        {% if comercio.iPrm != [] %}
                                                            <i class="fa fa-tag" aria-hidden="true"></i>
                                                            {% if comercio.iPrm[0].bon is defined and comercio.iPrm[0].bon != '' %}
                                                                <div class="list-promo-promo">{{comercio.iPrm[0].bon}} | {{comercio.iPrm[0].nmp}}</div>
                                                            {% else %}
                                                                <div class="list-promo-promo">{{comercio.iPrm[0].nmp}}</div>
                                                            {% endif %}
                                                            {% if comercio.iPrm[0].sponsor.prmm %}
                                                                <div class="list-promo-promo">
                                                                    <div class="list-promo-premium-logo">
                                                                        <img src="{{comercio.iPrm[0].sponsor.ics}}">
                                                                    </div>
                                                                    <div class="list-promo-premium-title">
                                                                        Beneficiate con {{comercio.iPrm[0].sponsor.nmp}} aquí
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div> #}

                                                </div>
                                            </a>
                                            {% if comercio.ubb is defined %}
                                                {% if comercio.ubb == 1 %}
                                                    <div class="ub-box">
                                                        <div class="ub-box-txt">
                                                            <div>
                                                                {% if comercio.ubit | length > 0 %}
                                                                    <div>{{comercio.ubit | truncate(120) }} </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="ub-box-btn">
                                                            <a class="clear button" style="padding: 10px 30px;" 
                                                                href="{{ path('storeStart', {'nam':urlize(comercio.nam),'idr': comercio.idr, 'ids': comercio.ids}) }}" title="">
                                                                Pedir
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% elseif comercio.ubb == 2 %}
                                                    <div class="ub-box">
                                                        <div class="ub-box-txt">
                                                            <div>
                                                                {% if comercio.ubit | length > 0 %}
                                                                    <div>{{comercio.ubit | truncate(120)}} </div>
                                                                {% endif %}
                                                                {% if comercio.ubart > 0 %}
                                                                    <div style="color: #689F38;">Responde en {{comercio.ubart | niceMinutes}}</div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="ub-box-btn">
                                                            <a class="clear button" href="{{ path('uberto/quoteRequest', {'nam': urlize(comercio.nam), 'idr': comercio.idr, 'ids': comercio.ids}) }}" title=""
                                                                >Pedir presupuesto</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </li>

                                    {% endif %}

                                    {% if not isAdultContent and isMobile and loop.index is divisible by(5) and not loop.last %}
                                        <li class="show-for-small-only banner300x50" style="height: 110px;border-bottom: 1px solid #E5E5E5;">
                                            {# {{ sasTag(sasSpage, 'top') | raw }} #}
                                            <div id="sas_27839" class="gmad-top"></div>
                                        </li>
                                    {% endif %}

                                {% endfor %}

                            </ul>
                          </div>

                        {% endif %}

                        {% if isMobile and not isAdultContent %}
                            <div class="show-for-small-only banner300x50">
                                {# {{ sasTag(sasSpage, 'middle') | raw }} #}
                                <div id="sas_28427" class="gmad-top"></div>
                            </div>
                        {% endif %}
                    
                    {% endif %}

                    {#{{ macroPaginator.show(path('buscador', {'zonaNombre': urlize(zonaNombre), 'rubroNombre': urlize(rubroNombre)}), pagina, cantidadPaginas, verTodasPaginas, maxPaginasPrimeras) }}#}
                    {{ macroPaginator.show(path(paginatorLink.path, paginatorLink.params), pagina, cantidadPaginas, verTodasPaginas, maxPaginasPrimeras) }}
                </div>

            </div>
            <div class="row">
                {# PROMOS #}
                <div class="large-12 medium-12 small-12 columns ">
                    {{ render(path('listadoPromociones', {'layout': 'ZonaORubro', 'filter': 'highlight'})) }}
                </div>
            </div>
            {% if isMobile and not isAdultContent %}
                <div class="show-for-small-only banner300x50">
                    <div id="sas_28425" class="gmad-top"></div>
                </div>
            {% endif %}
        </div>

        {# RIGHT COLUMN (MAP + HIGHLIGHT STORES) #}
        <aside class="large-4 medium-4 small-12 columns">
            <div class="large-12 medium-12 columns sin-bordes right ">
                {% if not isMobile and not isAdultContent %}
                    <div class="banner-recuadro">
                        <div id="sas_27528" class="gmad-desktop"></div>
                    </div>
                {% endif %}
            </div>
            <div id="listMapCntr"  class="large-12 medium-12 columns sin-bordes right ">
                {% if showMap %}
                    <div id="mapCntr" class="u-box-cntr boxedlines">
                        <div id="listMap" style="height: 100%;width:100%">
                        </div>
                    </div>
                    <div class="separador show-for-medium-only"></div>
                {% endif %}

                {% if not isMobile and not isAdultContent %}
                    <div class="banner-recuadro">
                        <div id="sas_27838" class="gmad-desktop"></div>
                    </div>
                    <div class="separador"></div>
                {% endif %}

                {{ render(path('listadoDestacados')) }}

            </div>
        </aside>

    </div>

    {% if showMap %}
        <div id="fabMapSwitch" class="u-fab-button">
            <i class="fa fa-map-o" aria-hidden="true"></i>
        </div>
    {% endif %}

    {# REVEAL: MAS CATEGORIAS (PRINCIPALES) #}
    <div class="reveal" id="moreCategs" data-reveal>
        <h2 style="width: 100%;font-size: 16px;">Categorias principales</h2>
        <div>
            {% include 'components/listadoRubrosPrincipales.html.twig'  with {'zoneId':zonaId,'zonaNombre': zonaNombre} %}
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {# REVEAL: MAS ZONAS #}
    <div class="reveal" id="moreZones" data-reveal>
        <h2 style="width: 100%;font-size: 16px;">Zonas principales</h2>
        <div style="display: inline-block;width: 100%;">
            {{ render(path('listadoZonas', {'layout': 'Default', 'zonaSeleccionada': zonaId, 'zonaNombreSeleccionada': zonaNombreVerdadera, 'tituloZona': zonaNombre, 'rubroSeleccionado': rubroId, 'rubroNombreSeleccionado': rubroNombreVerdadero})) }}
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% include 'components/footer.html.twig' %}

{% endblock content%}

{% block deferredCss %}
    {% include 'components/deferredCss.html.twig' with {'cssPageName':'b'} %}
{% endblock deferredCss %}