{% extends ('layout.html.twig') %}

{% block custom_stylesheets %}
    {% if IS_PRODUCTION %} 
        <style>
            {{ source( '_inlinecss/'~BRANDCODE~'/c-or'~filesSignature~'.css') }}
        </style>
    {% endif %}
{% endblock custom_stylesheets %}

{% block pageTitle %}Pedí en {{data.nam}} | {{BRAND}}{% endblock pageTitle %}

{% block metas %}
    <meta name="description" content="Compra en {{data.nam}} | {{BRAND}}" />

    {% if mapFramework == 1 %}
        <link rel='stylesheet' href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css' />
    {% endif %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/swiper.css" />
{% endblock metas %}

{% block javascripts %}
  {# JAVASCRIPT - START #}
  {% include 'layout/jsloader.html.twig' with {'v':1} %}
  {# JAVASCRIPT - END #}
  {# JAVASCRIPT 2 TEST - START #}
  {# JAVASCRIPT 2 - END #}
  {{ parent() }}

  <script type="text/javascript" src="{{ app.request.basepath }}/js/vendors/Swiper/4.2.6/swiper.min.js"></script>
{% endblock javascripts %}

{% if isMobile() %}
    {% set boxClass = 'u-box-cntr' %}
    {% set isMobile = TRUE %}
{% else %}
    {% set boxClass = '' %}
    {% set isMobile = FALSE %}
{% endif %}

{% block header %}
    {% if data.cart is defined %}
        {{ render(path('headerComponent', {'cart': data.cart, 'idr': data.idr, 'ids': data.ids, 'token': data.token})) }}
    {% else %}
        {{ render(path('headerComponent'))}}
    {% endif %}
{% endblock header %}

{% block content %}

    <div class="row large-uncollapse medium-uncollapse small-uncollapse" style="max-width: none;">

        <div class="large-10 large-offset-1 medium-12 small-12 columns" style="max-width: 1200px;">
          <div class="row ">
            <div class="large-3 medium-3 small-12 columns u-box-cntr boxedlines" >
                {% if data.page == 1 %}
                    <div class="" style="padding-bottom:10px;text-align:center">
                        {% set idLOC = (data.idr*10000) + data.ids%}
                        {% if data.ims | length > 0 %}
                            <img src="{{data.ims}}">
                            {% if data.ics | length > 0 %}
                                <div class="{{boxClass}} u-menu-retinfo-logo">
                                    <div>
                                        <img src="{{data.ics}}" style="width: 80px;height: 80px;border-radius: 4px;">
                                    </div>
                                    <div>

                            {% else %}
                                <div class="{{boxClass}} u-menu-retinfo-logo">
                                    <div>
                                        
                            {% endif %}
                        {% else %}
                            {% if data.ics | length > 0 %}
                                <div style="text-align: center;padding: 5px;">
                                    <div>
                                        <img src="{{data.ics}}" style="width: 80px;height: 80px;border-radius: 4px;">
                                    </div>
                                    <div>      
                            {% else %}
                                <div style="text-align: center;padding: 5px;">
                                    <div>
                                        
                            {% endif %}
                        {% endif %}
                                
                                <h3 style="font-size: 19px;margin: 0px;"><a href="{{ path('comercio', {'id': 'LOC' ~ idLOC, 'comercioNombre': urlize(data.nam) }) }}">{{data.nam}}</a></h3>
                                {% set aux = "" %}
                                {% if data.delivery == 1 %}
                                    {% set aux = "Envíos a domcilio" %}
                                {% elseif data.delivery == 2 %}
                                    {% set aux = "Envíos a nivel nacional" %}
                                {% elseif data.delivery == 3 %}
                                    {% set aux = "Envíos a domicilio y nacionales" %}
                                {% endif %}

                                {% if data.delivery != 0 and data.pickup == 1 %}
                                    {% set aux = aux ~ "; y pickup en el local" %}
                                {% elseif data.delivery == 0 and data.pickup == 1 %}
                                    {% set aux = "Servicio de pickup solamente" %}
                                {% endif %}
                                <div style="margin: 0px 5px; text-align: center;font-size: 13px;line-height: 15px;padding: 4px;">{{aux}}</div>
                            </div>
                        </div>
                        <div id="retInfoCntr" class="row " style="font-size:13px;margin: 0px;" data-idr="{{data.idr}}"  data-ids="{{data.ids}}" data-stype="1">
                            {% if data.avgTimeNice is defined %}
                                <div class="large-12 medium-12 small-6">
                                    <div style="font-size: 11px;color: #888;;margin-top:5px">Tiempo de entrega</div>
                                    <div>{{data.avgTimeNice}}</div>
                                </div>
                            {% endif %}
                            {% if data.delivery >= 1 %}
                                <div class="large-12 medium-12 small-6">
                                    <div style="font-size: 11px;color: #888;margin-top:5px">Costo de env&iacute;o</div>
                                    <div><a id="openCoverage">Ver cobertura</a></div>
                                </div>
                            {% endif %}
                            <div class="large-12 medium-12 small-6" style="font-size: 13px;">
                                <div style="font-size: 11px;color: #888;;margin-top:5px">Horario de atenci&oacute;n</div>
                                <div id="hourToday" style="text-align: center;cursor:pointer;">
                                    {% if data.hours[0].isOpen %}
                                        Hoy {{data.hours[0].sday}} 
                                        {% for hours in data.hours[0].hours %}
                                            {{hours.sstart}} - {{hours.send}}
                                        {% endfor %}
                                    {% else %}
                                        <span style="color:#FF0000">
                                        Hoy {{data.hours[0].sday}} cerrado
                                        </span>
                                    {% endif %}
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div id="restHours" class="u-menu-hours" style="display:none">
                                    <table>
                                        {% for i in 1..6 %}
                                            <tr> 
                                                <td>{{data.hours[i].sday}}</td>
                                                <td style="padding-left: 20px">
                                                    {% if data.hours[i].isOpen %}
                                                        {% for hours in data.hours[i].hours %}
                                                            {{hours.sstart}} - {{hours.send}}
                                                        {% endfor %}
                                                    {% else %}
                                                        cerrado
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            {#<div class="large-12 medium-12 small-6">
                                <div style="font-size: 11px;color: #888;;margin-top:5px">Formas de pago</div>
                                <div>uno - dos - tres</div>
                            </div>#}
                        </div>
                    </div>
                {% endif %}
                <button class="show-for-small-only listado-filter-button" data-toggle="filterCntr" >
                    <i class="fa fa-sliders" aria-hidden="true" style="font-size: 120%;"></i> Filtrar 
                </button>
                <div id="filterCntr" {{ isMobile ? 'class="dropdown-pane" data-dropdown' : '' }}>
                    <div>Categor&iacute;as</div>
                    <ul style="list-style: none;margin-left:0;">
                        {% if data.filteredGroup is defined %}
                            <li style="font-size: 12px;">
                                <a href="{{ path('storeStart',{'nam':urlize(data.nam),'idr': data.idr, 'ids': data.ids}) }}"
                                    style=" color: #666;">
                                    <i class="fa fa-times" aria-hidden="true"></i> Quitar filtros
                                </a>
                            </li>
                        {% endif %}
                        {% for group in data.groups %}
                            <li style="font-size: 12px;">
                                <a href="{{ path('storeStart',{'nam':urlize(data.nam),'idr': data.idr, 'ids': data.ids}) }}?f={{urlize(group.name)}}|{{group.id}}">
                                    {{group.name}} 
                                    {% if group.quantity is defined %}
                                        <span style="font-size: 11px;color:#777"> ({{group.quantity}})</span>
                                    {% endif %}   
                                </a>
                            </li>
                        {% endfor %}    
                    </ul>
                </div>
            </div>
            <div class="large-9 medium-9 small-12 columns">

                {# CHECK OPENED #}
                {% if not data.hoursState.isOpen %}
                    <div style="color: #9a7545;font-size: 14px;line-height: 15px;padding: 10px;border: 1px solid #FFD54F;margin-bottom: 10px;background-color: #FFECB3;border-radius: 4px;">
                        <i style="position: absolute;font-size: 25px;" class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <div style="padding-left: 30px;">
                            {% if data.hoursState.openHourToday %}
                                {% if data.hoursState.minsToOpen > 0 %}
                                    Nos encontramos cerrados ahora, abrimos en {{data.hoursState.minsToOpen}} minutos.
                                {% else %}
                                    Nos encontramos cerrados ahora, abrimos a las {{data.hoursState.openHourTodayTime}}.
                                {% endif %}
                            {% elseif data.hoursState.openHourTomorrow %}
                                Ya nos encontramos cerrados por hoy, abrimos mañana a las {{data.hoursState.openHourTomorrowTime}}.
                            {% else %}
                                Ya nos encontramos cerrados por hoy. 
                                Abrimos el {{data.hoursState.openHourDay}} a las {{data.hoursState.openHourDayTime}}.
                            {% endif %}
                            {% if data.outOfHours == 1 %}
                                {% if data.delivery == 1 and data.pickup == 1 %}
                                    <div><small>Igualmente puedes realizar el pedido ahora y agendarlo para levantar o entregar en algun momento en el que estemos abiertos.</small></div>
                                {% elseif data.delivery == 1 and data.pickup == 0 %}
                                    <div><small>Igualmente puedes realizar el pedido ahora y agendarlo para entregar en algun momento en el que estemos abiertos.</small></div>
                                {% else %}
                                    <div><small>Igualmente puedes realizar el pedido ahora y agendarlo para levantar en algun momento en el que estemos abiertos.</small></div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% elseif data.hoursState.minsToClose > 0 and data.hoursState.minsToClose < 20 %}
                    <div style="color: #9a7545;font-size: 14px;line-height: 15px;padding: 10px;border: 1px solid #FFD54F;margin-bottom: 10px;background-color: #FFECB3;border-radius: 4px;">
                        <i style="position: absolute;font-size: 25px;" class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <div style="padding-left: 30px;">
                            Cerramos en {{data.hoursState.minsToClose}} minutos! Apurate!
                        </div>
                    </div>
                {% endif %}

                {# MENU COLUMN - PRODUCT LIST #}
                {% if data.filteredGroup is defined and data.filteredGroup.name | length > 0 %}
                    <div class="row">
                        <div class="small-12 medium-12 big-12">
                            <h2 style="font-size: 24px;margin-left: 11px;border-bottom: 1px solid #DDD;">{{data.filteredGroup.name}}</h2>
                        </div>
                    </div>
                {% endif %}
                {# HIGHLIGHTS #}
                {% if data.highlights | length > 0 %}
                    <div class="u-menu-grp">
                        <h3>Destacados</h3>
                    </div>
                    {% if data.highlightsMode == 'CARROUSEL' %}
                        <div id="swipHighlights" class="swiper-container" style="padding-bottom: 10px;height: 400px;border-bottom: 1px solid #DDD;margin-bottom: 20px;">
                            <div class="swiper-wrapper ">
                                {% for producto in data.highlights %}
                                    <div class="swiper-slide" style="max-width: 200px;">
                                        <div class="u-prod-card" style="margin: 5px;">
                                            <a href="{{ path('productOrderMenu', {'name': urlize(producto.name),'id': producto.id, 'idr': data.idr, 'ids': data.ids}) }}{{ (data.token is defined and data.token | length > 0) ? '?t='~data.token : '' }}" itemscope itemtype="http://schema.org/Product" data-id="{{producto.id}}" data-name="{{producto.name}}">
                                                <div class="panel panel-default" style="overflow: hidden">
                                                    <meta itemprop="image" content="{{producto.image}}"/>
                                                    <div class="image-wrapper">
                                                        <img class="lazyload image img-responsive" data-src="{{producto.image}}" alt="{{producto.name}}" style="width:100%">
                                                    </div>
                                                    <div class="container">
                                                        <h4 class="line-clamp-3" itemprop="name">{{producto.name}}</h4>
                                                        <p class="line-clamp-3" itemprop="description">{{producto.description}}</p>
                                                        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                            <div class="u-menu-price" style="text-align: right;">{{producto.price | price | raw }}</div>
                                                            {% if producto.regularPrice is defined and producto.regularPrice != '' %}
                                                                <div class="u-menu-price regular" style="text-align: right;">{{producto.regularPrice | price | raw}}</div>
                                                            {% endif %}
                                                            <meta itemprop="price" content="{{producto.price}}" />
                                                            <meta itemprop="priceCurrency" content="UYU" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row" style="border-bottom: 1px solid #CCC;margin-bottom: 20px;padding-bottom: 20px;">
                            {% for producto in data.highlights %}
                                <div class="small-6 medium-6 large-4 columns u-prod-col">
                                    <div class="u-prod-card" data-id="{{producto.id}}" data-name="{{producto.name}}" >
                                        <a href="{{ path('productOrderMenu', {'name': urlize(producto.name),'id': producto.id, 'idr': data.idr, 'ids': data.ids}) }}{{ (data.token is defined and data.token | length > 0) ? '?t='~data.token : '' }}" itemscope itemtype="http://schema.org/Product" data-id="{{producto.id}}" data-name="{{producto.name}}">
                                            <div class="panel panel-default" style="overflow: hidden">
                                                <meta itemprop="image" content="{{producto.image}}"/>
                                                <div class="image-wrapper">
                                                    <img class="lazyload image img-responsive" data-src="{{producto.image}}" alt="{{producto.name}}">
                                                </div>
                                                <div class="container">
                                                    <h4 class="line-clamp-3" itemprop="name">{{producto.name}}</h4>
                                                    <p class="line-clamp-3" itemprop="description">{{producto.description}}</p>
                                                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <div class="u-menu-price" style="text-align: right;">{{producto.price | price | raw }}</div>
                                                        {% if producto.regularPrice is defined and producto.regularPrice != '' %}
                                                            <div class="u-menu-price regular" style="text-align: right;">{{producto.regularPrice | price | raw}}</div>
                                                        {% endif %}
                                                        <meta itemprop="price" content="{{producto.price}}" />
                                                        <meta itemprop="priceCurrency" content="UYU" />
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}

                {# LIST OF PRODUCTS #}
                <div class="row">
                    {% for producto in data.plist %}
                        <div class="small-6 medium-6 large-4 columns u-prod-col">
                            <div class="u-prod-card" data-id="{{producto.id}}" data-name="{{producto.name}}" >
                                <a href="{{ path('productOrderMenu', {'name': urlize(producto.name),'id': producto.id, 'idr': data.idr, 'ids': data.ids}) }}{{ (data.token is defined and data.token | length > 0) ? '?t='~data.token : '' }}" itemscope itemtype="http://schema.org/Product" data-id="{{producto.id}}" data-name="{{producto.name}}">
                                    <div class="panel panel-default" style="overflow: hidden">
                                        <meta itemprop="image" content="{{producto.image}}"/>
                                        <div class="image-wrapper">
                                            <img class="lazyload image img-responsive" data-src="{{producto.image}}" alt="{{producto.name}}">
                                        </div>
                                        <div class="container">
                                            <h4 class="line-clamp-3" itemprop="name">{{producto.name}}</h4>
                                            <p class="line-clamp-3" itemprop="description">{{producto.description}}</p>
                                            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <div class="u-menu-price" style="text-align: right;">{{producto.price | price | raw }}</div>
                                                {% if producto.regularPrice is defined and producto.regularPrice != '' %}
                                                    <div class="u-menu-price regular" style="text-align: right;">{{producto.regularPrice | price | raw}}</div>
                                                {% endif %}
                                                <meta itemprop="price" content="{{producto.price}}" />
                                                <meta itemprop="priceCurrency" content="UYU" />
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>              
                    {% endfor %}
                </div>

                {# PAGING #}
                <div class="row" style="padding-top: 30px;">
                    <div class="large-12 medium-12 small-12" style="text-align: center;">
                        {% if data.pageBack >= 1 %}
                            <a class="clear button small" style="min-width: 140px;" 
                                href="{{ path('storeStart', {'nam':urlize(data.nam),'idr': data.idr, 'ids': data.ids}) }}?p={{data.pageBack}}&f={{data.filter}}" title="Anterior">Anterior</a>
                        {% endif %}
                        {% if data.totalQuantity >= (data.offset + data.limit) %}
                            <a class="clear button small" style="min-width: 140px;" 
                                href="{{ path('storeStart', {'nam':urlize(data.nam),'idr': data.idr, 'ids': data.ids}) }}?p={{data.pageNext}}&f={{data.filter}}" title="Siguiente">Siguiente</a>
                        {% endif %}
                        {# TOTAL = {{data.totalQuantity}} <br>
                        OFFSET =  {{data.offset}} <br>
                        LIMIT =  {{data.limit}} <br> #}
                    </div>
                </div>   
            </div>
          </div>
        </div>
        
    </div>

    {# <div class="u-bottom-cart" id="bottomCart">
        <div class="u-bottom-cart-button" id="bottomCartView">
            <button id="bottomCartView" type="button" class="button expanded">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span style="margin: 0px 4px;">VER PEDIDO</span>
                <div class="u-bottom-cart-qty" style="display:none"></div>
            </button>
        </div>
        <div class="u-bottom-cart-button" id="bottomCartCheckout">
            <a href="{{ path('orderMenuCheckout', {'token':data.token, 'idr':data.idr, 'ids':data.ids}) }}" title="">
                <button type="button" class="button expanded">FINALIZAR <i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </a>
        </div>
    </div> #}

    <div class="reveal u-reveal large" id="viewCoverage" data-reveal>
        <div class="u-reveal-body">
            <div>
                <h5>Cobertura de entregas</h5>
            </div>
            <div class="row">
                <div id="btnShowUrban" class="large-6 medium-6 small-6 columns" style="font-weight: 600;cursor: pointer;font-size: 16px;text-align: center;margin: 5px 0px 10px 0px;border-right: 1px solid #AAA;">Urbano</div>
                <div id="btnShowNational" class="large-6 medium-6 small-6 columns" style="cursor: pointer;font-size: 16px;text-align: center;margin: 5px 0px 10px 0px;">Nacional</div>
            </div>
            <div id="covUrban">
                <div id="coverageMap" style="width: 100%;min-height: 400px;"></div>
                <div id="coverageZonesDesc" style="padding: 3px;font-size: 13px;"></div>
            </div>
            <div id="covNational" style="display:none">
                Realizamos envios nacionales a los siguientes departamentos:
                <div></div>
            </div>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div id="carritoCntr" class="u-box-cntr u-cart" data-token="{{data.token}}" style="display:none">
        <div style="background-color: #FFF;margin: -11px -10px;padding: 10px;">
            <button id="bottomCartClose" class="close-button show-for-small-only" data-close="" aria-label="Close modal" type="button" style="position:fixed"><span aria-hidden="true" style="color: #555;">×</span></button>
            <div class="titulo">PEDIDO</div>
    
            <table id="carrito" class="u-menu-order">
                <tr><td style="font-size: 12px;text-align: center;padding: 30px;">
                    Nada por aqui. Busca un producto y agregalo a tu carrito
                </td></tr>
            </table>
        </div>
        <div class="zig-zag-bottom" style="margin: 0px -10px;"></div>
        {% if data.token | length > 0 %}
        <a id="lnkCheckout" class="hide-for-small-only" href="{{ path('orderMenuCheckout', {'token':data.token, 'idr':data.idr, 'ids':data.ids}) }}" title="">
            <button type="button" class="button expanded">FINALIZAR <i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </a>
        {% endif %}
    </div>

    {% if data.cart is defined %}
      <script>
          window.loadCarrito = {
              token : '{{data.token}}',
              idr   : {{data.idr}},
              ids   : {{data.ids}},
              items :[]
          };
          {% for item in data.cart.plist %}
              window.loadCarrito.items.push({
                  id: {{item.id}},
                  lineId: {{item.lineId}},
                  notes: '{{item.notes}}',
                  price: {{item.itemPrice}},
                  originalPrice: {{item.origPrice}},
                  productName: '{{item.name}}',
                  quantity: {{item.quantity}},
                  customFields:[
                      {% for cf in item.customFields %}
                      {% if cf.type == 1 %}
                          { id: {{cf.id}},type: {{cf.type}}, name: '{{cf.name}}', price: {{cf.price}} },
                      {% else %}
                        {% if cf.name is defined %}
                          { id: {{cf.id}},type: {{cf.type}}, name: '{{cf.name}}', price: {{cf.price}}, optName: '{{cf.optName}}', val: {{cf.val}} },
                        {% endif %}
                      {% endif %}
                      {% endfor %}
                  ]
              });
          {% endfor %}    
      </script>
    {% endif %}

    {% include 'components/footer.html.twig' %}

{% endblock content %}

{% block deferredCss %}
    {% include 'components/deferredCss.html.twig' with {'cssPageName':'or'} %}
{% endblock deferredCss %}