{% block body %}

    <ul class="vertical menu" data-accordion-menu style="padding-top:35px;display: block;">
        {% for departamento in departamentos %}
            <li style="border-bottom: 1px solid #bfeaff;">
                <a href="#">{{departamento.nombre}}</a>
                <ul class="menu vertical nested listado-zona">
                    <li>
                        {% if rubroSeleccionado == '0' %}
                            {% if departamento.nombre != '' %}
                                <a href="{{ path('zona', {'zonaNombre': urlize(departamento.nombre), 'zonaId': departamentosId[departamento.nombre]}) }}">{{ departamento.nombre }}</a>
                            {% endif %}
                        {% else %}
                                {% if rubroNombreSeleccionado != '' and departamento.nombre != '' and departamentosId | length > 0 %}
                                    <a href="{{ path('rubroZona', {'rubroNombre': urlize(rubroNombreSeleccionado), 'rubroId': rubroSeleccionado, 'zonaNombre': urlize(departamento.nombre), 'zonaId': departamentosId[departamento.nombre] }) }}"> -- {{ departamento.nombre }}</a>
                                {% endif %}
                        {% endif %}
                    </li>
                    {% for keyZona, zona in departamento.zonas %}
                        <li>
                            {% if (rubroSeleccionado == '0') %}
                                {% if zona != '' %}
                                    <a title="{{ zona }}" href="{{ path('zona', {'zonaNombre': urlize(zona), 'zonaId': keyZona }) }}">{{ zona }}</a>
                                {% endif %}
                            {% else %}
                                {% if rubroNombreSeleccionado != '' and zona != '' %}
                                    <a title="{{ zona }}" href="{{ path('rubroZona', {'rubroNombre': urlize(rubroNombreSeleccionado), 'rubroId': rubroSeleccionado, 'zonaNombre': urlize(zona), 'zonaId': keyZona }) }}">{{ zona }}</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                    
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock body %}

{#{% block body %}
    <div class="{{ (app.request.get('innerClass1') is not null) ? app.request.get('innerClass1') : 'large-6 medium-6 small-12 columns sin-bordes' }}">
        <div class="callout panel zona  {% if isMobile() %}list-collapsible{% endif %}">
            <p>Zona{{ (tituloZona is defined and tituloZona!='0' and tituloZona | length > 0 and isMobile()) ? ': ' ~ tituloZona  : '' }}</p>
            <span class="icobajar">
                <i class="fa fa-list"></i>
            </span>
        </div>
        <div class="listado-zona " style="display: {{ (isMobile()) ? 'none !important' : 'block' }};max-height: 200px;">
            <div class="margen">
                {% block elements %}
                    <ul>
                        
                        <li class="{{ zonaSeleccionada == URUGUAY_ID ?  'check' : '' }}">
                            {% if rubroSeleccionado == '0' %}
                                <b><a href="{{ path('zona', {'zonaNombre': urlize(URUGUAY_TEXT), 'zonaId': URUGUAY_ID}) }}">{{ URUGUAY_TEXT | upper }}</a></b>
                                {% else %}
                                {% if rubroNombreSeleccionado != '' %}
                                <b><a href="{{ path('rubroZona', {'rubroNombre': urlize(rubroNombreSeleccionado), 'rubroId': rubroSeleccionado, 'zonaNombre': urlize(URUGUAY_TEXT), 'zonaId': URUGUAY_ID }) }}">{{ URUGUAY_TEXT | upper }}</a></b>
                                {% endif %}
                                {% endif %}
                        </li>
                        
                        {% for departamento in departamentos %}
                            <li class="{{ zonaSeleccionada == departamentosId[departamento.nombre] ? 'check' : '' }}">
                                {% if rubroSeleccionado == '0' %}
                                    {% if departamento.nombre != '' %}
                                    <b><a href="{{ path('zona', {'zonaNombre': urlize(departamento.nombre), 'zonaId': departamentosId[departamento.nombre]}) }}">{{ departamento.nombre }}</a></b>
                                    {% endif %}
                                    {% else %}
                                    {% if rubroNombreSeleccionado != '' and departamento.nombre != '' %}
                                    <b><a href="{{ path('rubroZona', {'rubroNombre': urlize(rubroNombreSeleccionado), 'rubroId': rubroSeleccionado, 'zonaNombre': urlize(departamento.nombre), 'zonaId': departamentosId[departamento.nombre] }) }}">{{ departamento.nombre }}</a></b>
                                    {% endif %}
                                    {% endif %}
                            </li>
                            {% for keyZona, zona in departamento.zonas %}
                                <li class="{{ zonaSeleccionada == keyZona ?  'check' : '' }}">
                                    {% if (rubroSeleccionado == '0') %}
                                        {% if zona != '' %}
                                        <a title="{{ zona }}" href="{{ path('zona', {'zonaNombre': urlize(zona), 'zonaId': keyZona }) }}">{{ zona }}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if rubroNombreSeleccionado != '' and zona != '' %}
                                        <a title="{{ zona }}" href="{{ path('rubroZona', {'rubroNombre': urlize(rubroNombreSeleccionado), 'rubroId': rubroSeleccionado, 'zonaNombre': urlize(zona), 'zonaId': keyZona }) }}">{{ zona }}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endblock elements %}
            </div>
        </div>
    </div>
{% endblock body %}#}