{% if zonaNombre is not defined or zonaNombre | length == 0 or zonaId is not defined or zonaId | length == 0 %}
  {% set zonaNombre = 'todo el pais' %}
  {% set zonaId = 'Z00001' %}
{% endif %}
<div class="listado-rubro">
  <ul style="list-style: none;margin: 3px;">
    <li>
      <a title="Bancos" href="/rubro-zona/{{zonaNombre}}/bancos/PRD1000136/{{zonaId}}">
          Bancos
      </a>
    </li>
    <li>
      <a title="Cajeros Automaticos" href="/rubro-zona/{{zonaNombre}}/cajeros-automaticos/PRD2280/{{zonaId}}">
        Cajeros Automaticos
      </a>
    </li>
    <li>
      <a title="Cerrajeria" href="/rubro-zona/{{zonaNombre}}/cerrajeria/PRD1000247/{{zonaId}}">
        Cerrajeria
      </a>
    </li>
    <li>
      <a title="Cobranzas" href="/rubro-zona/{{zonaNombre}}/cobranzas/PRD2794/{{zonaId}}">
        Cobranzas
      </a>
    </li>
    <li>
      <a title="Estaciones de Servicio" href="/rubro-zona/{{zonaNombre}}/estaciones-de-servicio/PRD1001378/{{zonaId}}">
        Estaciones de Servicio
      </a>
    </li>
    <li>
      <a title="Farmacias" href="/rubro-zona/{{zonaNombre}}/farmacias/PRD1000500/{{zonaId}}">
        Farmacias
      </a>
    </li>
    <li>
      <a title="Gomerias" href="/rubro-zona/{{zonaNombre}}/gomerias/PRD1001359/{{zonaId}}">
        Gomerias
      </a>
    </li>
    <li>
      <a title="Hoteles" href="/rubro-zona/{{zonaNombre}}/hoteles/PRD1000597/{{zonaId}}">
        Hoteles
      </a>
    </li>
    <li>
      <a title="Pizzerias" href="/rubro-zona/{{zonaNombre}}/pizzerias/PRD1000834/{{zonaId}}">
        Pizzerias
      </a>
    </li>
    <li>
      <a title="Restaurantes" href="/rubro-zona/{{zonaNombre}}/restaurantes/PRD1000898/{{zonaId}}">
        Restaurantes
      </a>
    </li>
    <li>
      <a title="Taller Mecanico" href="/rubro-zona/{{zonaNombre}}/taller-mecanico/PRD1001872/{{zonaId}}">
        Taller Mecanico
      </a>
    </li>
    <li>
      <a title="Vidrieria" href="/rubro-zona/{{zonaNombre}}/vidrieria/PRD1001040/{{zonaId}}">
        Vidrieria
      </a>
    </li>
    <li>
      <a title="Sanitarios" href="/rubro-zona/{{zonaNombre}}/sanitarios/PRD1000922/{{zonaId}}">
        Sanitarios
      </a>
    </li>
    <li>
      <a title="Electricistas" href="/rubro-zona/{{zonaNombre}}/electricistas/PRD1000390/{{zonaId}}">
        Electricistas
      </a>
    </li>
    <li>
      <a title="Inmobiliarias" href="/rubro-zona/{{zonaNombre}}/inmobiliarias/PRD1001356/{{zonaId}}">
        Inmobiliarias
      </a>
    </li>
    <li>
      <a title="Comunidad Salud" href="/rubro-zona/{{zonaNombre}}/comunidad-salud/PRD1001993/{{zonaId}}">
        Comunidad Salud
      </a>
    </li>
    <li>
      <a title="Ferreteria" href="/rubro-zona/{{zonaNombre}}/ferreteria/PRD1000213/{{zonaId}}">
        Ferreteria
      </a>
    </li>
    <li>
      <a title="Teatros" href="/rubro-zona/{{zonaNombre}}/teatros/PRD854/{{zonaId}}">
        Teatros
      </a>
    </li>
    <li>
      <a title="Recarga Gas" href="/rubro-zona/{{zonaNombre}}/recarga-gas/PRD10078677/{{zonaId}}">
        Recarga Gas
      </a>
    </li>
    <li>
      <a title="Ropa" href="/rubro-zona/{{zonaNombre}}/ropa/PRD12522/{{zonaId}}">
        Ropa
      </a>
    </li>
    <li>
      <a title="Delivery" href="/rubro-zona/{{zonaNombre}}/delivery/PRD10050/{{zonaId}}">
        Delivery
      </a>
    </li>
    <li>
      <a title="Cafe" href="/rubro-zona/{{zonaNombre}}/cafe/PRD147/{{zonaId}}">
        Cafe
      </a>
    </li>
    <li>
      <a title="Panaderias" href="/rubro-zona/{{zonaNombre}}/panaderias/PRD1000787/{{zonaId}}">
        Panaderias
      </a>
    </li>
    <li>
      <a title="Librerias" href="/rubro-zona/{{zonaNombre}}/librerias/PRD1002062/{{zonaId}}">
        Librerias
      </a>
    </li>
    <li>
      <a title="Bar" href="/rubro-zona/{{zonaNombre}}/bar/PRD1002085/{{zonaId}}">
        Bar
      </a>
    </li>
    <li>
      <a title="Veterinarias" href="/rubro-zona/{{zonaNombre}}/veterinarias/PRD1001033/{{zonaId}}">
        Veterinarias
      </a>
    </li>
    <li>
      <a title="Peluqueria" href="/rubro-zona/{{zonaNombre}}/peluqueria/PRD1000808/{{zonaId}}">
        Peluqueria
      </a>
    </li>
    <li>
      <a title="Informatica" href="/rubro-zona/{{zonaNombre}}/informatica/PRD1001445/{{zonaId}}">
        Informatica
      </a>
    </li>
    <li>
      <a title="Celulares" href="/rubro-zona/{{zonaNombre}}/celulares/PRD6780/{{zonaId}}">
        Celulares
      </a>
    </li>
    <li>
      <a title="Gimnasios" href="/rubro-zona/{{zonaNombre}}/gimnasios/PRD1000553/{{zonaId}}">
        Gimnasios
      </a>
    </li>
    <li>
      <a title="Heladerias" href="/rubro-zona/{{zonaNombre}}/heladerias/PRD1000574/{{zonaId}}">
        Heladerias
      </a>
    </li>
    <li>
      <a title="Diseñ Interiores" href="/rubro-zona/{{zonaNombre}}/disen-interiores/PRD12554/{{zonaId}}">
        Diseño Interiores
      </a>
    </li>
    <li>
      <a title="Jugueterias" href="/rubro-zona/{{zonaNombre}}/jugueterias/PRD1000649/{{zonaId}}">
        Jugueterias
      </a>
    </li>
    <li>
      <a title="Taxis" href="/rubro-zona/{{zonaNombre}}/taxis/PRD729/{{zonaId}}">
        Taxis
      </a>
    </li>
    <li>
      <a title="Omnibus" href="/rubro-zona/{{zonaNombre}}/omnibus/PRD1001128/{{zonaId}}">
        Omnibus
      </a>
    </li>
    <li>
      <a title="Fletes" href="/rubro-zona/{{zonaNombre}}/fletes/PRD10038423/{{zonaId}}">
        Fletes
      </a>
    </li>
    <li>
      <a title="Estacionamientos" href="/rubro-zona/{{zonaNombre}}/estacionamientos/PRD1000439/{{zonaId}}">
        Estacionamientos
      </a>
    </li>
    <li>
      <a title="Reparacion Automotriz" href="/rubro-zona/{{zonaNombre}}/reparacion-automotriz/PRD2715/{{zonaId}}">
        Reparacion Automotriz
      </a>
    </li>
    <li>
      <a title="Motos" href="/rubro-zona/{{zonaNombre}}/motos/PRD8614/{{zonaId}}">
        Motos
      </a>
    </li>
    <li>
      <a title="Opticas" href="/rubro-zona/{{zonaNombre}}/opticas/PRD1000782/{{zonaId}}">
        Opticas
      </a>
    </li>
    <li>
      <a title="Fabricas" href="/rubro-zona/{{zonaNombre}}/fabricas/PRD1000010/{{zonaId}}">
        Fabricas
      </a>
    </li>
    <li>
      <a title="Casinos" href="/rubro-zona/{{zonaNombre}}/casinos/PRD1000234/{{zonaId}}">
        Casinos
      </a>
    </li>
    <li>
      <a title="Clase Dibujo" href="/rubro-zona/{{zonaNombre}}/clase-dibujo/PRD10036299/{{zonaId}}">
        Clase Dibujo
      </a>
    </li>
    <li>
      <a title="Adultos" href="/rubro-zona/{{zonaNombre}}/adultos/PRD1172/{{zonaId}}">
        Adultos
      </a>
    </li>
    <li>
      <a href="/rubro/todos-los-rubros">
        <b>Ver más</b>
      </a>
    </li>
  </ul>
</div>