{% extends ('layout.html.twig') %}

{% set isMobile = isMobile() %}

{% block admConfigHead %} 
    googletag.cmd.push(function() {
        {% if isMobile %}
        googletag.defineSlot('{{ADS_SLOT_TOP}}', [[320, 100],[300, 100],[320, 50]], 'sas_27839').addService(googletag.pubads());
        googletag.defineSlot('{{ADS_SLOT_BOTTOM}}', [[320, 100],[300, 100],[320, 50]], 'sas_28427').addService(googletag.pubads());
        {% else %}
        googletag.defineSlot('{{ADS_SLOT_TOP}}', [[728,90],[970, 90]], 'sas_27839').addService(googletag.pubads());
        googletag.defineSlot('{{ADS_SLOT_BOTTOM}}', [[728,90],[970, 90]], 'sas_28427').addService(googletag.pubads());
        {% endif %}
        googletag.pubads().setTargeting('Channel', 'web');
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
{% endblock admConfigHead %}
{% block admConfigBody %} 
    <script>
        {% if isMobile %}
            googletag.cmd.push(function() { 
                googletag.display('sas_27839'); 
                googletag.display('sas_28427'); 
            });
        {% else %}
            googletag.cmd.push(function() { 
                googletag.display('sas_27839'); 
                googletag.display('sas_28427'); 
            });
        {% endif %}
    </script>
{% endblock admConfigBody %} 

{% block custom_stylesheets %}
    {% if IS_PRODUCTION %} 
        <style>
            {{ source( '_inlinecss/'~BRANDCODE~'/c-ph'~filesSignature~'.css') }}
        </style>
    {% endif %}
{% endblock custom_stylesheets %}

{% block pageTitle %}Promociones y Ofertas {{categoriaNombreNice | length > 0 ? 'de ' ~ categoriaNombreNice : ''}} | {{ parent() }}{% endblock pageTitle %}

{% block metas %}
    <link rel="canonical" href="https:{{ url('promocionesTodas', {'categoriaNombre': urlize(categoriaNombre), 'categoriaId': categoriaId}, true) }}"/>
    <meta name="description" content="Beneficios, promociones y ofertas {{categoriaNombreNice | length > 0 ? 'de ' ~ categoriaNombreNice : ''}} en los comercios de tu zona | {{BRAND}}" />
    <meta name="keywords" content="{{categoriaNombreNice | length > 0 ? categoriaNombreNice : ''}} promociones, beneficios, descuentos, promos, guia, comercios, uruguay, servicios, zonas, departamentos, local, telefono, direccion" />
    <meta name="robots" content="index, all" />
    <meta name="DC.title" content="{{BRAND}}" />
    <meta name="publisher" content="{{BRAND}}" />
    <meta name="language" content="es" />
    <meta name="distribution" content="global"/>
{% endblock metas %}

{% block header %}
    {{ render(path('headerComponent')) }}
{% endblock header %}

{% block javascripts %}
  {# JAVASCRIPT - START #}
  {% include 'layout/jsloader.html.twig' with {'v':1} %}
  {# JAVASCRIPT - END #}
  {# JAVASCRIPT 2 TEST - START #}
  {# JAVASCRIPT 2 - END #}
  {{ parent() }}
{% endblock javascripts %}

{% block content %}
    <div class="row">
        {# <div class="large-12 medium-12 small-12 columns ">
            <nav class="breadcrumbs sc" role="navigation" aria-label="breadcrumbs">
                <ul>
                    {% if categoriaNombre | length > 0 %}
                        <li><a href="{{ url("promocionesTodas") }}">Promociones y Ofertas</a></li>
                        <li class="current">{{categoriaNombre}}</li>
                    {% else %}
                        <li class="current"><a href="{{ url("promocionesTodas") }}">Promociones y Ofertas</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div> #}

        <div class="large-12 medium-12 small-12 text-center">
            <h1 class="section-header">{{categoriaNombreNice | length > 0 ? categoriaNombreNice | title: 'Promociones y Ofertas'}}</h1>
            <h2 class="section-subheader">Encontr&aacute; los mejores beneficios {{categoriaNombreNice | length > 0 ? 'de ' ~ categoriaNombreNice : ''}} en tu zona y en tus lugares favoritos</h2>
        </div>

        <div class="large-12 medium-12 small-12 columns u-box-cntr" style="padding:15px;margin-bottom: 15px;">
            <div class="u-box-op-cntr">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Filtros</a>
                        <div class="accordion-content" data-tab-content >
                            <div class="row">
                                {% if sponsorNombre != '' %}
                                    <div class="large-6 medium-6 small-12 columns">
                                        {{ render(path('listadoProveedores', {'layout': 'TodasPromociones', 'sponsorNombre': urlize(sponsorNombre), 'sponsorId': sponsorId,'categoriaId': categoriaId})) }}
                                    </div>
                                {% endif %}
                                <div class="large-6 medium-6 small-12 columns">
                                <div class="widget-filtro">
                                    <div class="titulo">Filtro por rubro</div>
                                    <ul>
                                        {% for catPos, categoria in categorias %}
                                            <li>
                                                {% if sponsorNombre != '' and categoria.name != '' %}
                                                {% if (categoria.id == categoriaId) %}
                                                <a  class="destacadafiltro" href="{{ path('promocionesTodas', {'sponsorId': sponsorId, 'sponsorNombre': sponsorNombre}) }}" title="{{ categoria.name }}">
                                                    {{ categoria.name }}
                                                </a>
                                                {% else %}
                                                <a href="{{ path('promocionesTodas', {'categoriaId': categoria.id, 'categoriaNombre': urlize(categoria.name), 'sponsorId': sponsorId, 'sponsorNombre': sponsorNombre}) }}" title="{{ categoria.name }}">
                                                    {{ categoria.name }}
                                                </a>
                                                {% endif %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
                
        <div class="large-12 medium-12 small-12 banner970x90">
            {# {{ sasTag(sasSpage, 'top') | raw }}  #}
            <div id="sas_27839" class="gmad-top"></div>
        </div>
        
        <div class="large-12 medium-12 small-12 columns"> 
            <div class="promogrid">
                {% if promociones | length > 0 %}
                    {% for prm in promociones %}
                        {# <div class="large-4 medium-6 small-12 columns">
                            <a href="{{ path('promocionesFicha', {'promoNombre': urlize(prm.name), 'promoId': prm.idp}) }}" style="width:100%;">
                                <div class="card card-adjust">
                                    {% if prm.sponsor is defined %}
                                        <div class="card-divider">
                                            <div class="ancho-total">
                                                <picture>
                                                    <source data-srcset="{{prm.sponsor.ics | asWebp }}" type="image/webp"/>
                                                    <source data-srcset="{{prm.sponsor.ics}}" type="image/png"/>
                                                    <img class="lazyload" data-src="{{prm.sponsor.ics}}"  style="width:30px;height:30px;"
                                                        alt="{{prm.sponsor.name}}"
                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                </picture>
                                                <span>{{prm.sponsor.name}}</span>
                                            </div>
                                        </div>
                                    {% elseif sponsor is defined %}
                                        <div class="card-divider">
                                            <div class="ancho-total">
                                                <picture>
                                                    <source data-srcset="{{sponsor.ics | asWebp }}" type="image/webp"/>
                                                    <source data-srcset="{{sponsor.ics}}" type="image/png"/>
                                                    <img class="lazyload" data-src="{{sponsor.ics}}"  style="width:30px;height:30px;"
                                                        alt="{{sponsor.name}}"
                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                                </picture>
                                                <span>{{sponsor.name}}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <picture>
                                        <source data-srcset="{{prm.imp | asWebp }}" type="image/webp"/>
                                        <source data-srcset="{{prm.imp}}" type="image/png"/>
                                        <img class="lazyload" data-src="{{prm.imp}}" style="width:100%;"
                                            alt="{{prm.name}}"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    </picture>
                                    <div class="card-section" style="padding:6px;">
                                        <h3><strong>{{prm.name}}</strong></h3>
                                        {% if prm.bon is defined %}
                                            <p>
                                                {{prm.bon}}
                                            </p>
                                        {% endif %}
                                        <h4>{{prm.dsc}}</h4>
                                        <p><strong>{{prm.dst | distance}}</strong></p>
                                    </div>
                                </div>
                            </a>
                        </div> #}
                        <a href="{{ path('promocionesFicha', {'promoNombre': urlize(prm.name), 'promoId': prm.idp}) }}"
                          class="promobox">
                            {# <div class="img-sponsor-promo">
                                <picture >
                                    <source type="image/webp" data-srcset="{{prm.sponsor.ics | asWebp}}">
                                    <source type="image/png" data-srcset="{{prm.sponsor.ics}}">
                                    <img class="lazyload"  data-src="{{prm.sponsor.ics}}" alt="{{prm.sponsor.name}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                </picture>
                                <span>{{prm.sponsor.name}}</span>
                            </div> #}
                            <picture >
                                <source type="image/webp" data-srcset="{{prm.imp | asWebp}}">
                                <source type="image/png" data-srcset="{{prm.imp}}">
                                <img class="lazyload"  data-src="{{prm.imp}}" alt="{{prm.name}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            </picture>
                            <div style="padding:5px;width: 100%;">
                                <h4><strong>{{prm.name}}</strong></h4>
                                {% if prm.bon is defined and prm.bon | length > 0 %}
                                <div class="promoboxbonus">{{prm.bon }}</div>
                                {% endif %}
                                <h5>{{prm.dsc}}</h5>
                                {# {% if prm.dst is defined and prm.dst | length > 0 %}
                                {% endif %} #}
                            </div>
                        </a>
                    {% else %}
                        <div class="sindatos" style="width: 100%;padding: 40px 0px;">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            <div>No pudimos encontrar beneficios para tu búsqueda en este momento</div>
                            <p>Intenta con otros filtros</p>
                        </div>
                    {% endfor %}     
                {% endif %}
            </div>
        </div>  

        <div class="large-12 medium-12 small-12 banner970x90">
            {# {{ sasTag(sasSpage, 'bottom') | raw }}  #}
            <div id="sas_28427" class="gmad-top"></div>
        </div>

        <div class="paginadorpromociones">
            {{ macroPaginator.show(path('promocionesTodas', {'sponsorNombre': urlize(sponsorNombre), 'sponsorId': sponsorId,'categoriaNombre':urlize(categoriaNombre),'categoriaId':categoriaId}), pagina, cantidadPaginas,verTodasPaginas,maxPaginasPrimeras) }}
        </div>

    </div>
    
    {% include 'components/footer.html.twig' %}

{% endblock content %}

{% block deferredCss %}
    {% include 'components/deferredCss.html.twig' with {'cssPageName':'pa'} %}
{% endblock deferredCss %}